<section id="colors" class="example colors">
  <h1 class="example">Colors</h1>
  <hr/>

  <h3 class="example">Primary Colors</h3>
  <dl class="swatch swatch--red">
    <dt class="var">$color-red</dt>
    <dd>#fa3c00</dd>
  </dl>
  <dl class="swatch swatch--blue">
    <dt class="var">$color-blue</dt>
    <dd>#1e39d2</dd>
  </dl>
  <dl class="swatch swatch--purple">
    <dt class="var">$color-purple</dt>
    <dd>#a639b2</dd>
  </dl>
  <dl class="swatch swatch--yellow">
    <dt class="var">$color-yellow</dt>
    <dd>#ffdc1e</dd>
  </dl>
  <dl class="swatch swatch--teal">
    <dt class="var">$color-teal</dt>
    <dd>#5ccfc2</dd>
  </dl>
  <dl class="swatch swatch--gray">
    <dt class="var">$color-gray</dt>
    <dd>#939393</dd>
  </dl>

  <!-- states -->
  <dl class="swatch swatch--warn">
    <dt class="var">$color-warn</dt>
    <dd>#23b268</dd>
  </dl>
  <dl class="swatch swatch--error">
    <dt class="var">$color-error</dt>
    <dd>#23b268</dd>
  </dl>
  <dl class="swatch swatch--success">
    <dt class="var">$color-success</dt>
    <dd>#23b268</dd>
  </dl>
</section>

<section id="type" class="example type">
  <h1 class="example">Typography</h1>
  <hr/>
  <h3 class="example">Headings</h3>
  <table class="example-type-specimen">
    <tr>
      <td width-"95%"><h1>Header 1 Sharp Sans</h1>
        <p class="annotation">2.48832em/39px</p>
      </td>
      <td width="5%"><span class="example-code">h1</span></td>
    </tr>
    <tr>
      <td><h2>Header 2 Sharp Sans</h2>
        <p class="annotation">2.0736em/33px</p>
      </td>
      <td><span class="example-code">h2</span></td>
    </tr>
    <tr>
      <td><h3>Header 3 Sharp Sans</h3>
        <p class="annotation">1.728em/27px</p>
      </td>
      <td><span class="example-code">h3</span></td>
    </tr>
    <tr>
      <td><h4>Header 4 Sharp Sans</h4>
        <p class="annotation">1.44em/23px</p>
      </td>
      <td><span class="example-code">h4</span></td>
    </tr>
    <tr>
      <td><h5>Header 5 Sharp Sans</h5>
        <p class="annotation">1.2em/19px</p>
      </td>
      <td><span class="example-code">h5</span></td>
    </tr>
  </table>

  <h3 class="example">Body Copy</h3>
  <p>
    At Custom Ink, we’re about more than shirts. We’re about you and everything you love. The passion you share with your group, club, or team; the excitement you have for your event or cause; and the drive that makes your business stand out from the rest. We believe that custom t-shirts do more than just make you look good - they help you feel good and inspire you to do good as well. We’re passionate about custom gear, but what we love even more is helping you bring what you love to life. So let’s create something together.
  </p>
  <p class="annotation">Standard Paragraph - 1rem/16px</p>

  <p class="legal">
    This is small type, like lawyers use. It could be terms and conditions or other small things that are secondary to main body copy or that we wish to de-emphasize for one reason or another.
  </p>
  <p class="annotation">Small Paragraph - 0.83333em/13px</p>

  <h3 class="example">Miscellaneous HTML Elements</h3>
  <ul class="lined">
    <li><em>This text is emphasized</em></li>
    <li><strong>This text is strong</strong></li>
    <li><strike>This text is struck</strike></li>
  </ul>
</section>

<section id="buttons" class="example buttons">
  <h1 class="example">Buttons &amp; Links</h1>
  <hr/>
  <h3 class="example">Buttons</h3>
  <div class="btn btn--primary">Primary Button</div>
  <div class="btn btn--secondary">Secondary Button</div>
  <br>
  <a href="/some/path" class="btn btn--primary">Link as Button</a>
  <a href="/some/path" class="btn btn--secondary">Link as Button</a>
  <script src="https://gist.github.com/nickmjones/8f1718c2e6d4d994c4b9a253a17de4c0.js"></script>

  <h3 class="example">Links</h3>
  <a href="/some/path">I am a link.</a>
</section>

<section id="forms" class="example forms">
  <h1 class="example">Forms</h1>
  <hr/>

  <h3 class="example">Base Presentation</h3>

  <form name="foo" class="userform">
    <label for="full_name">Full Name</label>
    <input type="text" placeholder="Full Name" id="full_name">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password">

    <label for="comments">Comments</label>
    <textarea id="comments" rows="10" placeholder="Your comments"></textarea>

    <input type="submit" class="btn btn--primary" value="Send">
    <input type="submit" class="btn btn--secondary" value="Reset">
  </form>

  <script src="https://gist.github.com/nickmjones/c51abf4a4f7578df57b9b9fb9f42bbdd.js"></script>

  <h3 class="example">Presentation with Errors</h3>
  <form name="foo" class="userform userform--withErrors">
    <label for="full_name">Full Name</label>
    <input type="text" placeholder="Full Name" id="full_name">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password">

    <label for="comments">Comments</label>
    <textarea id="comments" rows="10" placeholder="Your comments"></textarea>

    <input type="submit" class="btn btn--primary" value="Send">
    <input type="submit" class="btn btn--secondary" value="Reset">
  </form>

  <h3 class="example">Disabled Presentation</h3>
  <form name="foo" class="userform userform--isDisabled">
    <label for="full_name">Full Name</label>
    <input type="text" placeholder="Full Name" id="full_name">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password">

    <label for="comments">Comments</label>
    <textarea id="comments" rows="10" placeholder="Your comments"></textarea>

    <input type="submit" class="btn btn--primary" value="Send">
    <input type="submit" class="btn btn--secondary" value="Reset">
  </form>

  <h3 class="example">Inline Presentation</h3>
  <form name="foo" class="userform userform--inline">
    <input type="text" placeholder="Keywords" id="keywords">
    <input type="submit" class="btn btn--primary" value="Search">
  </form>



</section>

<section id="messaging" class="example messaging">

  <!-- TODO: Add examples of alerts with icons -->
  <h1 class="example">Alerts &amp; Messaging</h1>
  <hr/>

  <h3 class="example">Outlined (default)</h3>

  <div class="message message--success">
    <p><strong>Success!</strong> You did the thing!</p>
  </div>
  <div class="message message--warn">
    <p><strong>Hmm.</strong> The thing isn't looking good.</p>
  </div>
  <div class="message message--error">
    <p><strong>Oh dear.</strong> The thing did not work :/</p>
  </div>
  <div class="message message--announce">
    <p><strong>Hey man.</strong> There's a big sale.</p>
  </div>

  <script src="https://gist.github.com/nickmjones/c3a756c0124894e5a5c113f1397d4740.js"></script>

  <h3 class="example">Filled</h3>

  <div class="message message--success-filled">
    <p><strong>Success!</strong> You did the thing!</p>
  </div>
  <div class="message message--warn-filled">
    <p><strong>Hmm.</strong> The thing isn't looking good.</p>
  </div>
  <div class="message message--error-filled">
    <p><strong>Oh dear.</strong> The thing did not work :/</p>
  </div>
  <div class="message message--announce-filled">
    <p><strong>Hey man.</strong> There's a big sale.</p>
  </div>

  <script src="https://gist.github.com/nickmjones/fd386d3f67577813740d1d75eb1e2852.js"></script>

</section>

<section id="grid" class="example grid">
  <h1 class="example">Grids</h1>
  <p class="annotation">.grid--row</p>

  <div class="root">
    <div class="root--col root--col-quarter">
      Hello
    </div>
    <div class="root--col root--col-threequarter">
      Hello
    </div>
  </div>

  <div class="root">
    <div class="root--col root--col-fifth">
      <p class="annotation">.col--fifth</p>
    </div>
    <div class="root--col root--col-fifth">
      <p class="annotation">.root--col root--col-fifth</p>
    </div>
    <div class="root--col root--col-fifth">
      <p class="annotation">.root--col root--col-fifth</p>
    </div>
    <div class="root--col root--col-fifth">
      <p class="annotation">.root--col root--col-fifth</p>
    </div>
    <div class="root--col root--col-fifth">
      <p class="annotation">.root--col root--col-fifth</p>
    </div>
  </div>

  <div class="root">
    <div class="root--col root--col-quarter">
      <p class="annotation">.root--col-quarter</p>
    </div>
    <div class="root--col root--col-quarter">
      <p class="annotation">.root--col-quarter</p>
    </div>
    <div class="root--col root--col-quarter">
      <p class="annotation">.root--col-quarter</p>
    </div>
    <div class="root--col root--col-quarter">
      <p class="annotation">.root--col-quarter</p>
    </div>
  </div>

  <div class="root">
    <div class="root--col root--col-third">
      <p class="annotation">.root--col-third</p>
    </div>
    <div class="root--col root--col-third">
      <p class="annotation">.root--col-third</p>
    </div>
    <div class="root--col root--col-third">
      <p class="annotation">.root--col-third</p>
    </div>
  </div>

  <div class="root">
    <div class="root--col root--col-half">
      <p class="annotation">.root--col-half</p>
    </div>
    <div class="root--col root--col-half">
      <p class="annotation">.root--col-half</p>
    </div>
  </div>

  <div class="root">
    <div class="root--col root--col-full">
      <p class="annotation">.root--col-full</p>
    </div>
  </div>
</section>
