<aside class="filter-bar">
  <h5>Atoms</h5>
  <ul>
    <li>Typography</li>
    <li>Colors
      <ul>
        <li>Primary Colors</li>
        <li>Tints &amp; Shades</li>
      </ul>
    </li>
    <li>Buttons</li>
  </ul>
  <h5>Organisms</h5>
  <ul>
    <li>Forms</li>
    <li>Alerts &amp; Messaging</li>
    <li>Navigation</li>
  </ul>
</aside>
