<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
      WebFontConfig = { classes: false, events: false };
      WebFont.load({
        custom: { families: ['SharpSans'] },
        timeout: 4000
      });
    </script>
  </head>
  <body>
    <div class="nav--inline">
      <div class="nav--inline__menu">
        <dl class="menu">
          <dt>&#x2630;</dt>
          <dd>Menu</dd>
        </dl>
      </div>
      <div class="nav--inline__logo">
      </div>
      <div class="nav--inline__ttarp">
        <div class="copy">
          <h4>Talk to a real person</h4>
          <h5>855-563-7465 | <a href="#">Chat Now</a></h5>
        </div>
        <img class="avatar float-right" src="https://d2ffutrenqvap3.cloudfront.net/items/0u2c1l0S2g403y0l1B1f/ci_ttarp.png">
      </div>
    </div>
    <ul class="linklist--inline">
      <li class="linklist--inline__item linklist--inline__item--current">Products</li>
      <li class="linklist--inline__item">Design Lab</li>
      <li class="linklist--inline__item">Templates</li>
      <li class="linklist--inline__item">Fundraising</li>
      <li class="linklist--inline__item">About Us</li>
      <li class="linklist--inline__item">Your Account</li>
    </ul>
  </body>
</html>
