<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
      WebFontConfig = { classes: false, events: false };
      WebFont.load({
        custom: { families: ['SharpSans'] },
        timeout: 4000
      });
    </script>
  </head>
  <body class="grid">
    <div class="example-grid">

      <h2>Grid no gutter</h2>
      <p class="annotation">.grid--wrapper</p>

      <div class="grid--wrapper">
        <div class="col col__quarter">
          <p class="annotation">.col--quarter</p>
        </div>
        <div class="col col__quarter">
          <p class="annotation">.col--quarter</p>
        </div>
        <div class="col col__quarter">
          <p class="annotation">.col--quarter</p>
        </div>
        <div class="col col__quarter">
          <p class="annotation">.col--quarter</p>
        </div>
      </div>

      <div class="grid--wrapper">
        <div class="col col__fifth">
          <p class="annotation">.col--fifth</p>
        </div>
        <div class="col col__fifth">
          <p class="annotation">.col--fifth</p>
        </div>
        <div class="col col__fifth">
          <p class="annotation">.col--fifth</p>
        </div>
        <div class="col col__fifth">
          <p class="annotation">.col--fifth</p>
        </div>
        <div class="col col__fifth">
          <p class="annotation">.col--fifth</p>
        </div>
      </div>

      <div class="grid--wrapper">
        <div class="col col__third">
          <p class="annotation">.col--third</p>
        </div>
        <div class="col col__third">
          <p class="annotation">.col--third</p>
        </div>
        <div class="col col__third">
          <p class="annotation">.col--third</p>
        </div>
      </div>

      <div class="grid--wrapper">
        <div class="col col__half">
          <p class="annotation">.col--half</p>
        </div>
        <div class="col col__half">
          <p class="annotation">.col--half</p>
        </div>
      </div>

      <div class="grid--wrapper">
        <div class="col col__full">
          <p class="annotation">.col--full</p>
        </div>
      </div>

      <h2>Grid x-small gutter (4px)</h2>
      <p class="annotation">.grid--wrapper-xs</p>

      <div class="grid--wrapper-xs">
        <div class="col col__quarter">
          <p class="annotation">.col--quarter</p>
        </div>
        <div class="col col__quarter">
          <p class="annotation">.col--quarter</p>
        </div>
        <div class="col col__quarter">
          <p class="annotation">.col--quarter</p>
        </div>
        <div class="col col__quarter">
          <p class="annotation">.col--quarter</p>
        </div>
      </div>

      <div class="grid--wrapper-xs">
        <div class="col col__fifth">
          <p class="annotation">.col--fifth</p>
        </div>
        <div class="col col__fifth">
          <p class="annotation">.col--fifth</p>
        </div>
        <div class="col col__fifth">
          <p class="annotation">.col--fifth</p>
        </div>
        <div class="col col__fifth">
          <p class="annotation">.col--fifth</p>
        </div>
        <div class="col col__fifth">
          <p class="annotation">.col--fifth</p>
        </div>
      </div>

      <div class="grid--wrapper-xs">
        <div class="col col__third">
          <p class="annotation">.col--third</p>
        </div>
        <div class="col col__third">
          <p class="annotation">.col--third</p>
        </div>
        <div class="col col__third">
          <p class="annotation">.col--third</p>
        </div>
      </div>

      <div class="grid--wrapper-xs">
        <div class="col col__half">
          <p class="annotation">.col--half</p>
        </div>
        <div class="col col__half">
          <p class="annotation">.col--half</p>
        </div>
      </div>

      <div class="grid--wrapper-xs">
        <div class="col col__full">
          <p class="annotation">.col--full</p>
        </div>
      </div>

      <h2>Grid small gutter (8px)</h2>
      <p class="annotation">.grid--wrapper-s</p>

      <div class="grid--wrapper-s">
        <div class="col col__quarter">
          <p class="annotation">.col--quarter</p>
        </div>
        <div class="col col__quarter">
          <p class="annotation">.col--quarter</p>
        </div>
        <div class="col col__quarter">
          <p class="annotation">.col--quarter</p>
        </div>
        <div class="col col__quarter">
          <p class="annotation">.col--quarter</p>
        </div>
      </div>

      <div class="grid--wrapper-s">
        <div class="col col__fifth">
          <p class="annotation">.col--fifth</p>
        </div>
        <div class="col col__fifth">
          <p class="annotation">.col--fifth</p>
        </div>
        <div class="col col__fifth">
          <p class="annotation">.col--fifth</p>
        </div>
        <div class="col col__fifth">
          <p class="annotation">.col--fifth</p>
        </div>
        <div class="col col__fifth">
          <p class="annotation">.col--fifth</p>
        </div>
      </div>

      <div class="grid--wrapper-s">
        <div class="col col__third">
          <p class="annotation">.col--third</p>
        </div>
        <div class="col col__third">
          <p class="annotation">.col--third</p>
        </div>
        <div class="col col__third">
          <p class="annotation">.col--third</p>
        </div>
      </div>

      <div class="grid--wrapper-s">
        <div class="col col__half">
          <p class="annotation">.col--half</p>
        </div>
        <div class="col col__half">
          <p class="annotation">.col--half</p>
        </div>
      </div>

      <div class="grid--wrapper-s">
        <div class="col col__full">
          <p class="annotation">.col--full</p>
        </div>
      </div>

      <h2>Grid medium gutter (12px)</h2>
      <p class="annotation">.grid--wrapper-m</p>

      <div class="grid--wrapper-m">
        <div class="col col__quarter">
          <p class="annotation">.col--quarter</p>
        </div>
        <div class="col col__quarter">
          <p class="annotation">.col--quarter</p>
        </div>
        <div class="col col__quarter">
          <p class="annotation">.col--quarter</p>
        </div>
        <div class="col col__quarter">
          <p class="annotation">.col--quarter</p>
        </div>
      </div>

      <div class="grid--wrapper-m">
        <div class="col col__fifth">
          <p class="annotation">.col--fifth</p>
        </div>
        <div class="col col__fifth">
          <p class="annotation">.col--fifth</p>
        </div>
        <div class="col col__fifth">
          <p class="annotation">.col--fifth</p>
        </div>
        <div class="col col__fifth">
          <p class="annotation">.col--fifth</p>
        </div>
        <div class="col col__fifth">
          <p class="annotation">.col--fifth</p>
        </div>
      </div>

      <div class="grid--wrapper-m">
        <div class="col col__third">
          <p class="annotation">.col--third</p>
        </div>
        <div class="col col__third">
          <p class="annotation">.col--third</p>
        </div>
        <div class="col col__third">
          <p class="annotation">.col--third</p>
        </div>
      </div>

      <div class="grid--wrapper-m">
        <div class="col col__half">
          <p class="annotation">.col--half</p>
        </div>
        <div class="col col__half">
          <p class="annotation">.col--half</p>
        </div>
      </div>

      <div class="grid--wrapper-m">
        <div class="col col__full">
          <p class="annotation">.col--full</p>
        </div>
      </div>

      <h2>Grid large gutter (16px)</h2>
      <p class="annotation">.grid--wrapper-l</p>

      <div class="grid--wrapper-l">
        <div class="col col__quarter">
          <p class="annotation">.col--quarter</p>
        </div>
        <div class="col col__quarter">
          <p class="annotation">.col--quarter</p>
        </div>
        <div class="col col__quarter">
          <p class="annotation">.col--quarter</p>
        </div>
        <div class="col col__quarter">
          <p class="annotation">.col--quarter</p>
        </div>
      </div>

      <div class="grid--wrapper-l">
        <div class="col col__fifth">
          <p class="annotation">.col--fifth</p>
        </div>
        <div class="col col__fifth">
          <p class="annotation">.col--fifth</p>
        </div>
        <div class="col col__fifth">
          <p class="annotation">.col--fifth</p>
        </div>
        <div class="col col__fifth">
          <p class="annotation">.col--fifth</p>
        </div>
        <div class="col col__fifth">
          <p class="annotation">.col--fifth</p>
        </div>
      </div>

      <div class="grid--wrapper-l">
        <div class="col col__third">
          <p class="annotation">.col--third</p>
        </div>
        <div class="col col__third">
          <p class="annotation">.col--third</p>
        </div>
        <div class="col col__third">
          <p class="annotation">.col--third</p>
        </div>
      </div>

      <div class="grid--wrapper-l">
        <div class="col col__half">
          <p class="annotation">.col--half</p>
        </div>
        <div class="col col__half">
          <p class="annotation">.col--half</p>
        </div>
      </div>

      <div class="grid--wrapper-l">
        <div class="col col__full">
          <p class="annotation">.col--full</p>
        </div>
      </div>

    </div>
    <% include shared/footer %>
  </body>
</html>
