<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
      WebFontConfig = { classes: false, events: false };
      WebFont.load({
        custom: { families: ['SharpSans'] },
        timeout: 4000
      });
    </script>
  </head>
  <body class="grid">
    <div class="example-grid">

      <h2>Grid no gutter</h2>
      <p class="annotation">.grid--row</p>

      <div class="root">
        <div class="root--col root--col-quarter">
          Hello
        </div>
        <div class="root--col root--col-threequarter">
          Hello
        </div>
      </div>

      <div class="root">
        <div class="root--col root--col-fifth">
          <p class="annotation">.col--fifth</p>
        </div>
        <div class="root--col root--col-fifth">
          <p class="annotation">.root--col root--col-fifth</p>
        </div>
        <div class="root--col root--col-fifth">
          <p class="annotation">.root--col root--col-fifth</p>
        </div>
        <div class="root--col root--col-fifth">
          <p class="annotation">.root--col root--col-fifth</p>
        </div>
        <div class="root--col root--col-fifth">
          <p class="annotation">.root--col root--col-fifth</p>
        </div>
      </div>

      <div class="root">
        <div class="root--col root--col-quarter">
          <p class="annotation">.root--col-quarter</p>
        </div>
        <div class="root--col root--col-quarter">
          <p class="annotation">.root--col-quarter</p>
        </div>
        <div class="root--col root--col-quarter">
          <p class="annotation">.root--col-quarter</p>
        </div>
        <div class="root--col root--col-quarter">
          <p class="annotation">.root--col-quarter</p>
        </div>
      </div>

      <div class="root">
        <div class="root--col root--col-third">
          <p class="annotation">.root--col-third</p>
        </div>
        <div class="root--col root--col-third">
          <p class="annotation">.root--col-third</p>
        </div>
        <div class="root--col root--col-third">
          <p class="annotation">.root--col-third</p>
        </div>
      </div>

      <div class="root">
        <div class="root--col root--col-half">
          <p class="annotation">.root--col-half</p>
        </div>
        <div class="root--col root--col-half">
          <p class="annotation">.root--col-half</p>
        </div>
      </div>

      <div class="root">
        <div class="root--col root--col-full">
          <p class="annotation">.root--col-full</p>
        </div>
      </div>



    </div>
    <% include shared/footer %>
  </body>
</html>
