<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
      WebFontConfig = { classes: false, events: false };
      WebFont.load({
        custom: { families: ['SharpSans'] },
        timeout: 4000
      });
    </script>
  </head>
  <body>
    <div class="message message--banner">
      <p>Custom T-shirts & More, Fast & Free Shipping, and All-Inclusive Pricing</p>
    </div>
    <!-- navigation -->
    <div class="navigation hide-at-mobile" role="navigation">
      <div class="navigation__logo"></div>
      <div class="navigation__ttarp">
        <div class="navigation__ttarp__icon">
          <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 16 16"><title>Headset Ico</title><g fill="#fa3c00"><path d="M16 7.494L16 10.329C16 11.22 15.242 11.949 14.316 11.949L14 11.949C13.937 11.949 13.895 11.99 13.895 12.051L13.895 12.962C13.895 14.299 12.758 15.392 11.368 15.392L9.453 15.392C9.411 15.392 9.368 15.413 9.368 15.453 9.179 15.777 8.821 16 8.421 16 7.768 16 7.242 15.433 7.389 14.765 7.474 14.359 7.811 14.056 8.232 13.995 8.716 13.914 9.158 14.157 9.347 14.522 9.368 14.562 9.411 14.582 9.432 14.582L11.368 14.582C12.295 14.582 13.053 13.853 13.053 12.962L13.053 12.051C13.053 11.99 13.011 11.949 12.947 11.949L12.211 11.949C11.979 11.949 11.789 11.767 11.789 11.544L11.789 6.278C11.789 6.056 11.979 5.873 12.211 5.873L12.632 5.873C12.632 3.524 10.653 1.62 8.211 1.62L7.789 1.62C5.347 1.62 3.368 3.524 3.368 5.873L3.789 5.873C4.021 5.873 4.211 6.056 4.211 6.278L4.211 11.544C4.211 11.767 4.021 11.949 3.789 11.949L1.684 11.949C0.758 11.949 0 11.22 0 10.329L0 7.494C0 6.603 0.758 5.873 1.684 5.873L1.684 5.873C1.684 2.633 4.421 0 7.789 0L8.211 0C11.579 0 14.316 2.633 14.316 5.873L14.316 5.873C15.242 5.873 16 6.603 16 7.494Z"></path></g></svg>
        </div>
        <h5>Talk to a real person</h5>
        <h3>800-293-4232</h3>
      </div>
      <div class="navigation__chat">
        <div class="navigation__chat__icon">
          <svg aria-hidden="true" width="27" height="27" viewBox="0 0 26 27"><title>Chat Icon</title><g fill="#fa3c00"><path d="M1.7 9.7C1.7 5.3 5.7 1.7 10.9 1.7 15.1 1.7 19.3 5.3 19.3 9.7 19.3 14.1 16 17.7 10.9 17.7 10.2 17.7 8.6 17.6 7.9 17.5L5 19.4 5 16.4C3 14.7 1.7 12.5 1.7 9.7L1.7 9.7ZM8.1 19.2C8.7 19.3 10.2 19.4 10.9 19.4 16.9 19.4 21 14.9 21 9.6 21 4.3 15.9 0 10.9 0 4.9 0 0 4.3 0 9.6 0 12.7 1.2 15.3 3.4 17.2L3.4 21.9 8.1 19.2 8.1 19.2ZM22.6 7.7C22.6 8 22.6 8.2 22.6 8.4 22.6 9 22.6 9.5 22.5 10 23.6 11.3 24.3 13 24.3 14.8 24.3 17.6 22.7 20 20.1 21.5L20.1 24.5 17.3 22.5C16.6 22.7 15.8 22.8 15.1 22.8 12.9 22.8 11.8 22.1 10.2 21 9.7 21.1 9.3 21.1 8.8 21.1 8.5 21.1 8.1 21.1 7.8 21.1 9.8 23 11.9 24.3 15.1 24.3 15.8 24.3 16.5 24.2 17.1 24.1L21.8 27 21.8 22.2C24.4 20.5 26 17.7 26 14.7 26 11.9 24.7 9.5 22.6 7.7L22.6 7.7ZM15.5 11C16.2 11 16.8 10.4 16.8 9.7 16.8 9 16.2 8.4 15.5 8.4 14.8 8.4 14.3 9 14.3 9.7 14.3 10.4 14.8 11 15.5 11L15.5 11ZM5.5 11C6.1 11 6.7 10.4 6.7 9.7 6.7 9 6.1 8.4 5.5 8.4 4.8 8.4 4.2 9 4.2 9.7 4.2 10.4 4.8 11 5.5 11L5.5 11ZM10.5 11C11.2 11 11.7 10.4 11.7 9.7 11.7 9 11.2 8.4 10.5 8.4 9.8 8.4 9.2 9 9.2 9.7 9.2 10.4 9.8 11 10.5 11L10.5 11Z"></path></g></svg>
        </div>
        <h5>Chat with a real person</h5>
        <h3>Chat now</h3>
      </div>
    </div>
    <ul class="linklist hide-at-mobile">
      <li class="linklist__item">Products</li>
      <li class="linklist__item">Design Lab</li>
      <li class="linklist__item">Templates</li>
      <li class="linklist__item">Fundraising</li>
      <li class="linklist__item">About Us</li>
      <li class="linklist__item">Your Account</li>
    </ul>

    <!-- mobile nav -->
    <div class="mobile-nav show-at-mobile hide-at-desktop">
      &#9776;
    </div>

    <!-- hero -->
    <div class="hero">
      <img src="https://d2ffutrenqvap3.cloudfront.net/items/0Z08012v0h3r220i1m1t/hero.png">
    </div>

    <!-- shipping teaser -->

    <section class="shipping">
      <div class="shipping__item hide-at-mobile">
      </div>
      <div class="shipping__item center-at-mobile">
        <h4>Free Shipping</h4>
        <dl>
          <dt>2 Week Delivery</dt>
          <dd>Guaranteed by Mon, Feb 19</dd>
          <dd><a href="#">View Delivery Calendar</a></dd>
        </dl>
      </div>
      <div class="shipping__item center-at-mobile">
        <h4>Upgrade to Rush</h4>
        <dl>
          <dt>1 Week Delivery</dt>
          <dd>Guaranteed by Mon, Feb 12</dd>
          <dd><a href="#">View Delivery Calendar</a></dd>
        </dl>
      </div>
      <div class="shipping__item center-at-mobile">
        <h4>Super Rush</h4>
        <dl>
          <dt>3 Day Super Rush</dt>
          <dd>Custom Shirts in 3 Business Days</dd>
          <dd><a href="#">Learn More</a></dd>
        </dl>
      </div>
    </section>

    <!-- headline -->
    <section class="intro">
      <h1 class="is-centered">Custom T-shirts Are Just the Beginning</h1>
    </section>

    <!-- feature cards -->

    <section class="callouts">
      <div class="callouts__item callouts__item--thirds">
        <img src="https://d2ffutrenqvap3.cloudfront.net/items/3n100c141K41453w2343/Image%202018-02-05%20at%201.47.51%20PM.png">
        <div class="callouts__item__caption">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
        </div>
      </div>
      <div class="callouts__item callouts__item--twothirds">
        <img src="https://d2ffutrenqvap3.cloudfront.net/items/0R2e1m0Z1H442T0W3m3v/Image%202018-02-05%20at%201.47.54%20PM.png">
        <div class="callouts__item__caption">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
        </div>
      </div>
    </section>

    <section class="callouts">
      <div class="callouts__item callouts__item--thirds">
        <img src="https://d2ffutrenqvap3.cloudfront.net/items/1W2Y2Z2l331m321r0R0a/Image%202018-02-05%20at%201.47.57%20PM.png">
        <div class="callouts__item__caption">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
        </div>
      </div>
      <div class="callouts__item callouts__item--thirds">
        <img src="https://d2ffutrenqvap3.cloudfront.net/items/2r2N350l0M1i0P2z3M1u/Image%202018-02-05%20at%201.48.00%20PM.png">
        <div class="callouts__item__caption">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
        </div>
      </div>
      <div class="callouts__item callouts__item--thirds">
        <img src="https://d2ffutrenqvap3.cloudfront.net/items/1p0g1t0a1X3Z3k3y1h2a/Image%202018-02-05%20at%201.48.02%20PM.png">
        <div class="callouts__item__caption">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
        </div>
      </div>
    </section>

    <!-- more categories -->

    <h2 class="is-centered lighter">More Categories</h2>

    <section class="categories">
      <ul class="categories__list">
        <li>Unisex T-shirts</li>
        <li>Hoodies & Sweatshirts</li>
      </ul>
      <ul class="categories__list">
        <li>No Minimum</li>
        <li>Button Down Shirts</li>
      </ul>
      <ul class="categories__list">
        <li>Youth Sizes</li>
        <li>Uniforms</li>
      </ul>
      <ul class="categories__list">
        <li>Athletics</li>
        <li>Embroidery</li>
      </ul>
    </section>


    <!-- brands you trust -->
    <h4 class="is-centered">Brands You Love</h4>

    <section class="brands">
      <div class="brands__item twoup-at-mobile">a</div>
      <div class="brands__item twoup-at-mobile">b</div>
      <div class="brands__item twoup-at-mobile">c</div>
      <div class="brands__item twoup-at-mobile">d</div>
      <div class="brands__item twoup-at-mobile">e</div>
      <div class="brands__item twoup-at-mobile">f</div>
      <div class="brands__item twoup-at-mobile">g</div>
      <div class="brands__item twoup-at-mobile">h</div>
      <div class="brands__item twoup-at-mobile">i</div>
    </section>

    <!-- we're here to help -->
    <section class="help">
      <div class="inner-headline">
        <h4 class="is-centered">We're Here To Help</h4>
        <h2 class="is-centered">Incredible Service. All-inclusive Pricing. Real Love.</h2>
      </div>
      <div class="help__cards">
        <div class="help__card">
          <h5>Real People 7 Days a Week</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <div class="help__card">
          <h5>All-in Pricing</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <div class="help__card">
          <h5>Live &amp; Uncensored</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
  </body>
</html>
