<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
      WebFontConfig = { classes: false, events: false };
      WebFont.load({
        custom: { families: ['SharpSans'] },
        timeout: 4000
      });
    </script>
  </head>
  <body>
    <div class="message message--banner">
      <p>Custom T-shirts & More, Fast & Free Shipping, and All-Inclusive Pricing</p>
    </div>

    <% include shared/navigation.ejs %>

    <!-- hero -->
    <div class="hero">
      <div class="hero__slide">
        <h1>Pharetra Purus Ipsum Nibh</h1>
      </div>
    </div>

    <!-- shipping teaser -->

    <section class="shipping">
      <div class="shipping__item hide-at-mobile">
      </div>
      <div class="shipping__item center-at-mobile">
        <h4 class="purple">FREE Shipping</h4>
        <dl>
          <dt>2 Week Delivery</dt>
          <dd>Guaranteed by Mon, Feb 19</dd>
          <dd><a href="#">View Delivery Calendar</a></dd>
        </dl>
      </div>
      <div class="shipping__item center-at-mobile">
        <h4>Upgrade to Rush</h4>
        <dl>
          <dt>1 Week Delivery</dt>
          <dd>Guaranteed by Mon, Feb 12</dd>
          <dd><a href="#">View Delivery Calendar</a></dd>
        </dl>
      </div>
      <div class="shipping__item center-at-mobile">
        <h4>Super Rush</h4>
        <dl>
          <dt>3 Day Super Rush</dt>
          <dd>Custom Shirts in 3 Business Days</dd>
          <dd><a href="#">Learn More</a></dd>
        </dl>
      </div>
    </section>

    <!-- headline -->
    <section class="intro">
      <h1 class="is-centered">Custom T-shirts Are Just the Beginning</h1>
    </section>

    <!-- feature cards -->

    <section class="features">
      <div class="features__item half material-style">
        <img src="https://dummyimage.com/250/d7d7d7/d7d7d7">
        <div class="caption">
          <h3>GAP for Groups</h3>
          <p>Group style that’s classic, comfortable, and now...custom</p>
        </div>
      </div>
      <div class="features__item half material-style">
        <img src="https://dummyimage.com/250/d7d7d7/d7d7d7">
        <div class="caption">
          <h3><span class="purple">NEW!</span> Under Armour apparel</h3>
          <p>Design group styles with the best in the game</p>
        </div>
      </div>
    </section>
    <section class="features">
      <div class="features__item twothird material-style">
        <img src="https://dummyimage.com/250/d7d7d7/d7d7d7">
        <div class="caption">
          <h4>Built to perform</h4>
          <p>Create the perfect gear for your active lifestyle</p>
        </div>
      </div>
      <div class="features__item twothird material-style">
        <img src="https://dummyimage.com/250/d7d7d7/d7d7d7">
        <div class="caption">
          <h4>Design In Motion</h4>
          <p>Create the perfect gear for your active lifestyle</p>
        </div>
      </div>
      <div class="features__item twothird material-style">
        <img src="https://dummyimage.com/250/d7d7d7/d7d7d7">
        <div class="caption">
          <h4>Calling all polo pros</h4>
          <p>Create the perfect gear for your active lifestyle</p>
        </div>
      </div>
    </section>

    <!-- more categories -->

    <h3 class="is-centered">More Categories</h3>

    <section class="categories">
      <ul class="categories__list">
        <li>Unisex T-shirts</li>
        <li>Hoodies & Sweatshirts</li>
      </ul>
      <ul class="categories__list">
        <li>No Minimum</li>
        <li>Button Down Shirts</li>
      </ul>
      <ul class="categories__list">
        <li>Youth Sizes</li>
        <li>Uniforms</li>
      </ul>
      <ul class="categories__list">
        <li>Athletics</li>
        <li>Embroidery</li>
      </ul>
    </section>


    <!-- brands you love -->

    <h3 class="is-centered">Brands You Love</h3>

    <section class="brands">
      <div class="brands__item twoup-at-mobile"></div>
      <div class="brands__item twoup-at-mobile"></div>
      <div class="brands__item twoup-at-mobile"></div>
      <div class="brands__item twoup-at-mobile"></div>
      <div class="brands__item twoup-at-mobile"></div>
      <div class="brands__item twoup-at-mobile"></div>
      <div class="brands__item twoup-at-mobile"></div>
      <div class="brands__item twoup-at-mobile"></div>
      <div class="brands__item twoup-at-mobile"></div>
    </section>

  <!-- you are creative -->

    <section class="creative">
      <div class="creative__row">
        <div class="creative__card--copyblock">
          <h2>
            You are creative.</br>
            We can help.
          </h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p>Beatae facilis explicabo modi debitis.</p>
        </div>
        <div class="creative__card--art">
          <img src="https://d2ffutrenqvap3.cloudfront.net/items/0f2Z1p33031g2w442v3H/phones.png">
        </div>
      </div>
    </section>

    <!-- make it right -->

    <section class="service">
      <h1 class="is-centered">We'll make it right, or we'll make it right.</h1>
      <div class="copy">
        <div class="seal"></div>
      </div>
    </section>

    <!-- we're here to help -->
    <section class="help">
      <div class="help__cards">
        <div class="help__card material-style">
          <h4>An Inker by your side</h4>
          <div class="help__card__image"></div>
          <p>
            Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
          </p>
          <ul class="disc">
            <li>Call us | 855-563-7465</li>
            <li>Email us | service@customink.com</li>
            <li>Chat now | Live</li>
          </ul>
        </div>
        <div class="help__card material-style">
          <h4>All-inclusive pricing</h4>
          <div class="help__card__image"></div>
          <ul class="checked">
            <li>Dolor Nullam Ligula</li>
            <li>Vulputate Porta Pellentesque</li>
            <li>Sollicitudin Ipsum Egestas</li>
            <li>Fermentum Quam Vulputate</li>
            <li>Cras Cursus</li>
            <li>Fringilla Ullamcorper Lorem</li>
          </ul>
        </div>
        <div class="help__card--testimonial material-style">
          <span class="datestamp">16 minutes ago</span>
          <div class="wordballoon">
            I love how easy and customizable it is. It was cool that I could change all the colors on the logo I uploaded and how there were so many options!
          </div>
          <h4>Stephen C.</h4>
          <cite>
            Owner</br>
            Moe's Italian Sandwiches,</br>
            Plaistow, NH
          </cite>
          <div class="btn btn--secondary btn--block">View all reviews</div>
        </div>
      </div>
    </section>
    <% include shared/ci_footer.ejs %>
  </body>
</html>
