<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
      WebFontConfig = { classes: false, events: false };
      WebFont.load({
        custom: { families: ['SharpSans'] },
        timeout: 4000
      });
    </script>
  </head>
  <body>
    <div class="page">
      <aside class="filter-bar">
        <ul>
          <li>Type</li>
          <li>Colors</li>
          <li>Buttons</li>
          <li>Forms</li>
          <li>Alerts &amp; Messaging</li>
        </ul>
      </aside>

      <div class="right-column">
        <section class="type">
          <h2 class="upcase">Type</h2>
          <h1>Header 1</h1>
          <h2>Header 2</h2>
          <h3>Header 3</h3>
          <h4>Header 4</h4>
          <h5>Header 5</h5>
          <h6>Header 6</h6>

          <p>
            At Custom Ink, we’re about more than shirts. We’re about you and everything you love. The passion you share with your group, club, or team; the excitement you have for your event or cause; and the drive that makes your business stand out from the rest. We believe that custom t-shirts do more than just make you look good - they help you feel good and inspire you to do good as well. We’re passionate about custom gear, but what we love even more is helping you bring what you love to life. So let’s create something together.
          </p>

          <p class="legal">
            This is small type, like lawyers use. It could be terms and conditions or other small things that are secondary to main body copy or that we wish to de-emphasize for one reason or another.
          </p>

          <ul class="lined">
            <li><em>This text is emphasized</em></li>
            <li><strong>This text is strong</strong></li>
            <li><strike>This text is struck</strike></li>
          </ul>
        </section>

        <section class="colors">
          <h2 class="upcase">Colors</h2>

          <!-- colors -->
          <figure class="swatch swatch--red">
            <ul>
              <li class="var">$color-red</li>
              <li>#fa3c00</li>
            </ul>
          </figure>
          <figure class="swatch swatch--blue">
            <ul>
              <li class="var">$color-blue</li>
              <li>#1e39d2</li>
            </ul>
          </figure>
          <figure class="swatch swatch--purple">
            <ul>
              <li class="var">$color-purple</li>
              <li>#a639b2</li>
            </ul>
          </figure>
          <figure class="swatch swatch--yellow">
            <ul>
              <li class="var">$color-yellow</li>
              <li>#ffdc1e</li>
            </ul>
          </figure>
          <figure class="swatch swatch--teal">
            <ul>
              <li class="var">$color-teal</li>
              <li>#5ccfc2</li>
            </ul>
          </figure>
          <figure class="swatch swatch--gray">
            <ul>
              <li class="var">$color-gray</li>
              <li>#939393</li>
            </ul>
          </figure>

          <!-- states -->
          <figure class="swatch swatch--warn">
            <ul>
              <li class="var">$color-warn</li>
              <li>#23b268</li>
            </ul>
          </figure>
          <figure class="swatch swatch--error">
            <ul>
              <li class="var">$color-error</li>
              <li>#23b268</li>
            </ul>
          </figure>
          <figure class="swatch swatch--success">
            <ul>
              <li class="var">$color-success</li>
              <li>#23b268</li>
            </ul>
          </figure>
        </section>

        <section class="buttons">
          <h2 class="upcase">Buttons &amp; Links</h2>
          <div class="btn btn--primary">Primary Button</div>
          <div class="btn btn--secondary">Secondary Button</div>
          <a href="/some/path" class="btn btn--primary">Link as Button</a>
          <a href="/some/path" class="btn btn--secondary">Link as Button</a>
          <a href="/some/path">I am a link.</a>
          <script src="https://gist.github.com/nickmjones/8f1718c2e6d4d994c4b9a253a17de4c0.js"></script>
        </section>


        <section class="forms">
          <h2 class="upcase">Forms</h2>
          <h2 class="upcase">Base Presentation</h2>

          <p><em>Future additions could include an inline (side by side) presentation.</em></p>

          <form name="foo" class="userform">
            <label for="full_name">Full Name</label>
            <input type="text" placeholder="Full Name" id="full_name">

            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="password">

            <label for="comments">Comments</label>
            <textarea id="comments" rows="10" placeholder="Your comments"></textarea>

            <input type="submit" class="btn btn--primary" value="Send">
            <input type="submit" class="btn btn--secondary" value="Reset">
          </form>

          <script src="https://gist.github.com/nickmjones/c51abf4a4f7578df57b9b9fb9f42bbdd.js"></script>

          <h2 class="upcase">Presentation with Errors</h2>
          <form name="foo" class="userform userform--withErrors">
            <label for="full_name">Full Name</label>
            <input type="text" placeholder="Full Name" id="full_name">

            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="password">

            <label for="comments">Comments</label>
            <textarea id="comments" rows="10" placeholder="Your comments"></textarea>

            <input type="submit" class="btn btn--primary" value="Send">
            <input type="submit" class="btn btn--secondary" value="Reset">
          </form>

          <h2 class="upcase">Disabled Presentation</h2>
          <form name="foo" class="userform userform--isDisabled">
            <label for="full_name">Full Name</label>
            <input type="text" placeholder="Full Name" id="full_name">

            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="password">

            <label for="comments">Comments</label>
            <textarea id="comments" rows="10" placeholder="Your comments"></textarea>

            <input type="submit" class="btn btn--primary" value="Send">
            <input type="submit" class="btn btn--secondary" value="Reset">
          </form>


        </section>

        <section class="messaging">
          <h2 class="upcase">Alerts &amp; Messaging</h2>

          <div class="message message--success">
            <h3>Success!</h3>
            <p>You've done the thing.</p>
          </div>
          <div class="message message--warn">
            <h3>Warning!</h3>
            <p>The thing is in jeopardy.</p>
          </div>
          <div class="message message--error">
            <h3>Oh no.</h3>
            <p>The thing didn't work :(</p>
          </div>
        </section>



      </div>
    </div>

    <% include shared/footer %>
  </body>
</html>
