<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
      WebFontConfig = { classes: false, events: false };
      WebFont.load({
        custom: { families: ['SharpSans'] },
        timeout: 4000
      });
    </script>
  </head>
  <body class="examples">
    <% include shared/header %>
    <div class="columns">
      <div class="left-column">
        <% include shared/sidebar %>
      </div>
      <div class="right-column">
        <% include shared/examples %>
      </div>
    </div>

    <% include shared/footer %>
  </body>
</html>
