<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
      WebFontConfig = { classes: false, events: false };
      WebFont.load({
        custom: { families: ['SharpSans'] },
        timeout: 4000
      });
    </script>
  </head>
  <body id="example">
    <div class="page">
      <aside class="filter-bar">
        <h5>Core Elements</h5>
        <ul>
          <li>Typography</li>
          <li>Colors</li>
          <li>Buttons</li>
          <li>Forms</li>
          <li>Alerts &amp; Messaging</li>
        </ul>
        <h5>Complex Organisms</h5>
      </aside>

      <div class="right-column">
        <section class="colors">
          <h1 class="example">Colors</h1>
          <hr/>

          <!-- colors -->
          <figure class="swatch swatch--red">
            <ul>
              <li class="var">$color-red</li>
              <li>#fa3c00</li>
            </ul>
          </figure>
          <figure class="swatch swatch--blue">
            <ul>
              <li class="var">$color-blue</li>
              <li>#1e39d2</li>
            </ul>
          </figure>
          <figure class="swatch swatch--purple">
            <ul>
              <li class="var">$color-purple</li>
              <li>#a639b2</li>
            </ul>
          </figure>
          <figure class="swatch swatch--yellow">
            <ul>
              <li class="var">$color-yellow</li>
              <li>#ffdc1e</li>
            </ul>
          </figure>
          <figure class="swatch swatch--teal">
            <ul>
              <li class="var">$color-teal</li>
              <li>#5ccfc2</li>
            </ul>
          </figure>
          <figure class="swatch swatch--gray">
            <ul>
              <li class="var">$color-gray</li>
              <li>#939393</li>
            </ul>
          </figure>

          <!-- states -->
          <figure class="swatch swatch--warn">
            <ul>
              <li class="var">$color-warn</li>
              <li>#23b268</li>
            </ul>
          </figure>
          <figure class="swatch swatch--error">
            <ul>
              <li class="var">$color-error</li>
              <li>#23b268</li>
            </ul>
          </figure>
          <figure class="swatch swatch--success">
            <ul>
              <li class="var">$color-success</li>
              <li>#23b268</li>
            </ul>
          </figure>
        </section>
        
        <section class="type">
          <h1 class="example">Typography</h1>
          <hr/>

          <h1>Header 1 Sharp Sans</h1>
          <h2>Header 2 Sharp Sans</h2>
          <h3>Header 3 Sharp Sans</h3>
          <h4>Header 4 Sharp Sans</h4>
          <h5>Header 5 Sharp Sans</h5>
          <h6>Header 6 Sharp Sans</h6>

          <p>
            At Custom Ink, we’re about more than shirts. We’re about you and everything you love. The passion you share with your group, club, or team; the excitement you have for your event or cause; and the drive that makes your business stand out from the rest. We believe that custom t-shirts do more than just make you look good - they help you feel good and inspire you to do good as well. We’re passionate about custom gear, but what we love even more is helping you bring what you love to life. So let’s create something together.
          </p>

          <p class="legal">
            This is small type, like lawyers use. It could be terms and conditions or other small things that are secondary to main body copy or that we wish to de-emphasize for one reason or another.
          </p>

          <ul class="lined">
            <li><em>This text is emphasized</em></li>
            <li><strong>This text is strong</strong></li>
            <li><strike>This text is struck</strike></li>
          </ul>
        </section>

        <section class="buttons">
          <h1 class="example">Buttons &amp; Links</h1>
          <hr/>

          <div class="btn btn--primary">Primary Button</div>
          <div class="btn btn--secondary">Secondary Button</div>
          <a href="/some/path" class="btn btn--primary">Link as Button</a>
          <a href="/some/path" class="btn btn--secondary">Link as Button</a>
          <script src="https://gist.github.com/nickmjones/8f1718c2e6d4d994c4b9a253a17de4c0.js"></script>
          <a href="/some/path">I am a link.</a>
        </section>


        <section class="forms">
          <h1 class="example">Forms</h1>
          <hr/>

          <h2>Base Presentation</h2>

          <form name="foo" class="userform">
            <label for="full_name">Full Name</label>
            <input type="text" placeholder="Full Name" id="full_name">

            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="password">

            <label for="comments">Comments</label>
            <textarea id="comments" rows="10" placeholder="Your comments"></textarea>

            <input type="submit" class="btn btn--primary" value="Send">
            <input type="submit" class="btn btn--secondary" value="Reset">
          </form>

          <script src="https://gist.github.com/nickmjones/c51abf4a4f7578df57b9b9fb9f42bbdd.js"></script>

          <h2>Presentation with Errors</h2>
          <form name="foo" class="userform userform--withErrors">
            <label for="full_name">Full Name</label>
            <input type="text" placeholder="Full Name" id="full_name">

            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="password">

            <label for="comments">Comments</label>
            <textarea id="comments" rows="10" placeholder="Your comments"></textarea>

            <input type="submit" class="btn btn--primary" value="Send">
            <input type="submit" class="btn btn--secondary" value="Reset">
          </form>

          <h2>Disabled Presentation</h2>
          <form name="foo" class="userform userform--isDisabled">
            <label for="full_name">Full Name</label>
            <input type="text" placeholder="Full Name" id="full_name">

            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="password">

            <label for="comments">Comments</label>
            <textarea id="comments" rows="10" placeholder="Your comments"></textarea>

            <input type="submit" class="btn btn--primary" value="Send">
            <input type="submit" class="btn btn--secondary" value="Reset">
          </form>


        </section>

        <section class="messaging">

          <!-- TODO: Add examples of alerts with icons -->
          <h1 class="example">Alerts &amp; Messaging</h1>
          <hr/>

          <h2>Outlined (default)</h2>

          <div class="message message--success">
            <p><strong>Success!</strong> You did the thing!</p>
          </div>
          <div class="message message--warn">
            <p><strong>Hmm.</strong> The thing isn't looking good.</p>
          </div>
          <div class="message message--error">
            <p><strong>Oh dear.</strong> The thing did not work :/</p>
          </div>
          <div class="message message--announce">
            <p><strong>Hey man.</strong> There's a big sale.</p>
          </div>

          <script src="https://gist.github.com/nickmjones/c3a756c0124894e5a5c113f1397d4740.js"></script>

          <h2>Filled</h2>

          <div class="message message--success-filled">
            <p><strong>Success!</strong> You did the thing!</p>
          </div>
          <div class="message message--warn-filled">
            <p><strong>Hmm</strong> The thing isn't looking good.</p>
          </div>
          <div class="message message--error-filled">
            <p><strong>Oh dear.</strong> The thing did not work :/</p>
          </div>
          <div class="message message--announce-filled">
            <p><strong>Hey man.</strong> There's a big sale.</p>
          </div>

          <script src="https://gist.github.com/nickmjones/fd386d3f67577813740d1d75eb1e2852.js"></script>

        </section>



      </div>
    </div>

    <% include shared/footer %>
  </body>
</html>
