/* ==========================================================================
   #RESET
   ========================================================================== */
/**
 * A very simple reset that sits on top of Normalize.css.
 */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0; }

/**
 * Remove trailing margins from nested lists.
 */
li > ol,
li > ul {
  margin-bottom: 0; }

/**
 * Remove default table spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
fieldset {
  min-width: 0;
  /* [1] */
  border: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

a {
  color: #1e39d2;
  text-decoration: none; }

a:hover {
  color: #112179;
  text-decoration: underline; }

@font-face {
  font-family: "SharpSans";
  font-style: normal;
  font-weight: 100;
  src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Medium-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Medium-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Medium-0000000000000000000000000000000000000001.woff) format("woff"); }

@font-face {
  font-family: "SharpSans";
  font-style: italic;
  font-weight: 100;
  src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-MediumItalic-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-MediumItalic-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-MediumItalic-0000000000000000000000000000000000000001.woff) format("woff"); }

@font-face {
  font-family: "SharpSans";
  font-style: normal;
  font-weight: normal;
  src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Medium-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Medium-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Medium-0000000000000000000000000000000000000001.woff) format("woff"); }

@font-face {
  font-family: "SharpSans";
  font-style: italic;
  font-weight: normal;
  src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-MediumItalic-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-MediumItalic-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-MediumItalic-0000000000000000000000000000000000000001.woff) format("woff"); }

@font-face {
  font-family: "SharpSans";
  font-style: normal;
  font-weight: bold;
  src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Bold-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Bold-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Bold-0000000000000000000000000000000000000001.woff) format("woff"); }

@font-face {
  font-family: "SharpSans";
  font-style: italic;
  font-weight: bold;
  src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-BoldItalic-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-BoldItalic-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-BoldItalic-0000000000000000000000000000000000000001.woff) format("woff"); }

@font-face {
  font-family: "SharpSans";
  font-style: normal;
  font-weight: 700;
  src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Bold-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Bold-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Bold-0000000000000000000000000000000000000001.woff) format("woff"); }

@font-face {
  font-family: "SharpSans";
  font-style: italic;
  font-weight: 700;
  src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-BoldItalic-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-BoldItalic-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-BoldItalic-0000000000000000000000000000000000000001.woff) format("woff"); }

h1, h2, h3, h4, h5 {
  font-family: "SharpSans", Helvetica, Arial, sans-serif;
  margin: 1.414rem 0 0.75rem;
  line-height: 1.2; }

h1 {
  font-size: 2.48832em; }

h2 {
  font-size: 2.0736em; }

h3 {
  font-size: 1.728em; }

h4 {
  font-size: 1.44em; }

h5 {
  font-size: 1.2em; }

p {
  font-size: 1em;
  margin: 1.414rem 0 0.5rem; }
  p.legal {
    font-size: 0.83333em;
    margin: 1.414rem 0 0.5rem; }

hr {
  margin-bottom: 24px;
  height: 0;
  border: 0;
  border-bottom: 1px solid #d7d7d7; }

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
  color: #444;
  line-height: 1.45; }

ul.lined li {
  list-style: none; }

ul.lined li:before {
  content: "- "; }

ul.dotted li {
  list-style: disc; }

.btn {
  font-size: 1rem;
  display: inline-block;
  padding: 8px 24px;
  border-radius: 4px;
  margin-bottom: 24px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  font-family: "SharpSans", Helvetica, Arial, sans-serif; }
  .btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-decoration: none; }
  .btn:active {
    box-shadow: none; }
  .btn a {
    text-decoration: none; }

.btn--primary, .btn--primary-inactive,
a.btn--primary-inactive,
input[type='submit'].btn--primary-inactive, .btn--primary-wide,
a.btn--primary-wide,
input[type='submit'].btn--primary-wide,
a.btn--primary,
a.btn--primary-inactive,
a.btn--primary-wide,
input[type='submit'].btn--primary,
input[type='submit'].btn--primary-inactive,
input[type='submit'].btn--primary-wide {
  background: #1e39d2;
  color: #fff;
  border: 2px solid transparent; }
  .btn--primary:hover, .btn--primary-inactive:hover,
  input[type='submit'].btn--primary-inactive:hover, .btn--primary-wide:hover,
  input[type='submit'].btn--primary-wide:hover,
  a.btn--primary:hover,
  a.btn--primary-inactive:hover,
  a.btn--primary-wide:hover,
  input[type='submit'].btn--primary:hover,
  input[type='submit'].btn--primary-inactive:hover,
  input[type='submit'].btn--primary-wide:hover {
    background: #14278f; }

.btn--primary-inactive,
a.btn--primary-inactive,
input[type='submit'].btn--primary-inactive {
  opacity: 0.6;
  pointer-events: none; }

.btn--secondary, .btn--secondary-wide,
a.btn--secondary-wide,
input[type='submit'].btn--secondary-wide,
a.btn--secondary,
a.btn--secondary-wide,
input[type='submit'].btn--secondary,
input[type='submit'].btn--secondary-wide {
  background: #fff;
  color: #1e39d2;
  border: 2px solid #1e39d2; }

.btn--primary-wide,
a.btn--primary-wide,
input[type='submit'].btn--primary-wide {
  display: block;
  width: 100%;
  text-align: center; }

.btn--secondary-wide,
a.btn--secondary-wide,
input[type='submit'].btn--secondary-wide {
  display: block;
  width: 100%;
  text-align: center; }

section {
  padding: 24px; }
  section:after {
    content: "" !important;
    display: block !important;
    clear: both !important; }

.is-centered {
  text-align: center; }

.is-inactive {
  pointer-events: none;
  opacity: 0.6; }

.is-hidden {
  display: none; }

.img--left {
  float: left; }

.img--right {
  float: right; }

.img--fill {
  width: 100%; }

.float-left {
  float: left; }
  .float-left:after {
    content: "" !important;
    display: block !important;
    clear: both !important; }

.float-right {
  float: right; }
  .float-right:after {
    content: "" !important;
    display: block !important;
    clear: both !important; }

.clearfix:after {
  content: "" !important;
  display: block !important;
  clear: both !important; }

.userform {
  font-family: "SharpSans", Helvetica, Arial, sans-serif; }

.userform .btn {
  font-size: 0.8rem; }

label {
  display: block;
  font-size: 0.8rem; }

input:not([type='submit']),
textarea {
  display: block;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #fff;
  border-bottom: 1px solid #d7d7d7;
  width: 100%;
  background: #efefef;
  font-size: 1em;
  font-family: "SharpSans", Helvetica, Arial, sans-serif;
  transition: all 0.15s ease-in-out; }
  input:not([type='submit'])::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #888; }
  input:not([type='submit']):-moz-placeholder, textarea:-moz-placeholder {
    color: #888; }
  input:not([type='submit'])::-moz-placeholder, textarea::-moz-placeholder {
    color: #888; }
  input:not([type='submit']):-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #888; }

input:not([type='submit']):focus,
textarea:focus {
  outline: none;
  background: #fff;
  border: 1px solid #d7d7d7;
  border-bottom: 1px solid #1e39d2; }

.userform--withErrors input:not([type='submit']),
.userform--withErrors textarea {
  border: 1px solid #F95E5B;
  background: #fff; }

.userform--isDisabled * {
  opacity: 0.5;
  pointer-events: none;
  user-select: none; }

.userform--inline {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  margin-bottom: 8px; }
  .userform--inline input:not([type='submit']),
  .userform--inline textarea {
    width: 75%;
    margin: 0 12px 0 0;
    padding: 8px; }
    .userform--inline input:not([type='submit']):last-of-type,
    .userform--inline textarea:last-of-type {
      margin-right: 0; }
  .userform--inline input[type='submit'] {
    width: 25%;
    margin: 0 0 0 0;
    padding: 8px; }
    .userform--inline input[type='submit']:last-of-type {
      margin-right: 0; }

.message {
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 12px; }

.message p {
  margin: 0;
  font-size: 0.83333em; }

.message--success {
  color: #23b268;
  border: 1px solid #23b268; }

.message--warn {
  color: #FF9F1C;
  border: 1px solid #FF9F1C; }

.message--error {
  color: #F95E5B;
  border: 1px solid #F95E5B; }

.message--announce {
  color: #1e39d2;
  border: 1px solid #1e39d2; }

.message--success-filled {
  background-color: #23b268;
  color: #fff; }

.message--warn-filled {
  background-color: #FF9F1C;
  color: #fff; }

.message--error-filled {
  background-color: #F95E5B;
  color: #fff; }

.message--announce-filled {
  background-color: #1e39d2;
  color: #fff; }

.nav--inline {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  margin-bottom: 8px;
  height: 80px;
  border-bottom: 1px solid #d7d7d7; }

.nav--inline__menu {
  width: 25%;
  margin: 0 0 0 0;
  padding: 0; }
  .nav--inline__menu:last-of-type {
    margin-right: 0; }

.nav--inline__logo {
  width: 50%;
  margin: 0 0 0 0;
  padding: 0;
  text-align: center;
  background: url("https://d2ffutrenqvap3.cloudfront.net/items/1F2p1r20072k2G0c3J0B/ci_logo.png") center center no-repeat;
  background-size: 140px 50px; }
  .nav--inline__logo:last-of-type {
    margin-right: 0; }

.nav--inline__ttarp {
  width: 25%;
  margin: 0 0 0 0;
  padding: 0;
  padding: 0 28px; }
  .nav--inline__ttarp:last-of-type {
    margin-right: 0; }

.nav--inline__ttarp .copy {
  float: left;
  width: 70%;
  margin-top: 21px;
  margin-left: 21px; }

.nav--inline__ttarp .avatar {
  border-radius: 100px;
  width: 3.5rem;
  height: 3.5rem;
  margin-top: 10px;
  border: 2px solid #23b268; }

.nav--inline__ttarp h4, h5 {
  margin: 0; }

.nav--inline__ttarp h4 {
  font-size: 1em;
  margin-bottom: 4px; }

.nav--inline__ttarp h5 {
  font-size: 60%; }

.nav--inline__menu {
  padding: 0 28px; }

.nav--inline__menu dl.menu {
  width: 2rem;
  text-align: center;
  margin-top: 16px; }
  .nav--inline__menu dl.menu dt {
    font-size: 2.0736em;
    line-height: 1; }
  .nav--inline__menu dl.menu dd {
    font-size: 0.5787em;
    text-transform: uppercase; }

.linklist--inline {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  margin-bottom: 8px;
  list-style: none;
  border-bottom: 1px solid #d7d7d7; }

.linklist--inline__item {
  width: 16.66667%;
  margin: 0 0 0 0;
  padding: 0;
  font-size: 0.83333em;
  text-align: center;
  padding-bottom: 8px;
  transition: all 0.20s ease-in-out; }
  .linklist--inline__item:last-of-type {
    margin-right: 0; }

.linklist--inline__item:hover,
.linklist--inline__item--current {
  color: #fa3c00;
  border-bottom: 1px solid red;
  cursor: pointer; }

.swatch {
  display: inline-block;
  text-align: center;
  margin: 0 16px 16px 0;
  width: 183px;
  float: left;
  font-family: monospace; }

.swatch dt {
  min-height: 100px;
  padding-top: 25%;
  margin-bottom: 8px;
  border-radius: 6px; }

.swatch dd {
  padding: 4px 0;
  color: #999;
  border: 1px solid #d7d7d7;
  border-radius: 6px; }

.swatch--red dt {
  background: #fa3c00; }

.swatch--yellow dt {
  background: #ffdc1e; }

.swatch--blue dt {
  background: #1e39d2; }

.swatch--teal dt {
  background: #5ccfc2; }

.swatch--purple dt {
  background: #a639b2; }

.swatch--gray dt {
  background: #939393; }

.swatch--warn dt {
  background: #FF9F1C; }

.swatch--success dt {
  background: #23b268; }

.swatch--error dt {
  background: #F95E5B; }

.columns {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  margin-bottom: 8px; }

.left-column {
  width: 25%;
  margin: 0 0 0 0;
  padding: 8px;
  border-radius: 4px; }
  .left-column:last-of-type {
    margin-right: 0; }

.right-column {
  width: 75%;
  margin: 0 16px 0 0;
  padding: 8px;
  border-radius: 4px; }
  .right-column:last-of-type {
    margin-right: 0; }

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 16px; }

section.example {
  background: #fff;
  margin-bottom: 24px;
  border-radius: 4px; }

.left-column h5 {
  font-size: 0.83333em;
  margin: 0;
  padding: 12px;
  color: #3668d2 !important;
  text-transform: uppercase;
  letter-spacing: 0.09rem;
  font-weight: 400;
  background: rgba(255, 255, 255, 0.4); }

.left-column ul {
  list-style: none;
  margin-bottom: 12px; }

.left-column ul li {
  border-bottom: 0;
  padding: 12px;
  font-size: 0.73rem;
  background: #fff;
  border-bottom: 1px solid #d7d7d7;
  position: relative; }
  .left-column ul li:after {
    content: "\005e";
    position: absolute;
    right: 12px;
    top: 12px;
    transform: rotate(90deg);
    color: #999; }

.left-column ul li ul {
  margin: 8px 0 0 8px; }

.left-column ul li ul li {
  border: 0;
  padding: 4px 0;
  color: #999; }
  .left-column ul li ul li:after {
    content: ""; }

body.grid,
body.examples {
  background: #efefef; }
  body.grid h1.example, body.grid h2.example, body.grid h3.example, body.grid h4.example, body.grid h5.example,
  body.examples h1.example,
  body.examples h2.example,
  body.examples h3.example,
  body.examples h4.example,
  body.examples h5.example {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
    font-weight: 300;
    color: #444; }

.root {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  margin-bottom: 8px; }

.root--col {
  background: #fff;
  text-align: center;
  border: 1px solid #efefef; }
  .root--col p {
    margin: 0; }

.root--col-fifth {
  width: 25%;
  margin: 0 16px 0 0;
  padding: 8px; }
  .root--col-fifth:last-of-type {
    margin-right: 0; }

.root--col-quarter {
  width: 25%;
  margin: 0 16px 0 0;
  padding: 8px; }
  .root--col-quarter:last-of-type {
    margin-right: 0; }

.root--col-threequarter {
  width: 75%;
  margin: 0 16px 0 0;
  padding: 8px; }
  .root--col-threequarter:last-of-type {
    margin-right: 0; }

.root--col-third {
  width: 33.33333%;
  margin: 0 16px 0 0;
  padding: 8px; }
  .root--col-third:last-of-type {
    margin-right: 0; }

.root--col-half {
  width: 50%;
  margin: 0 16px 0 0;
  padding: 8px; }
  .root--col-half:last-of-type {
    margin-right: 0; }

.root--col-full {
  width: 100%;
  margin: 0 16px 0 0;
  padding: 8px; }
  .root--col-full:last-of-type {
    margin-right: 0; }

.example-grid {
  border-radius: 6px;
  text-align: center; }

.example-grid .col {
  background: #fff;
  border-radius: 4px; }

header {
  background: #3668d2;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  margin-bottom: 8px;
  padding: 16px; }

header .logo {
  width: 33.33333%;
  margin: 0 16px 0 0;
  padding: 0;
  color: #dde5f7; }
  header .logo:last-of-type {
    margin-right: 0; }

header .logo h3, h5 {
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu; }

header .logo h3 {
  font-size: 1.44em;
  margin-bottom: 4px; }

header .logo h5 {
  font-size: 1em;
  font-weight: 300; }

footer {
  background: #3668d2;
  color: #dde5f7;
  padding: 24px;
  font-size: 0.75rem; }

.example-code {
  color: #0072ac;
  text-align: center;
  border: 1px solid #d7d7d7;
  padding: 3px 6px;
  font-family: monospace;
  border-radius: 5px; }

p.annotation {
  color: #0072ac;
  font-family: monospace;
  margin: 0 0 12px; }

table.example-type-specimen {
  width: 100%; }
  table.example-type-specimen h1, table.example-type-specimen h2, table.example-type-specimen h3, table.example-type-specimen h4, table.example-type-specimen h5, table.example-type-specimen h6 {
    margin: 0; }
  table.example-type-specimen td {
    border-bottom: 1px solid #efefef;
    padding-top: 12px; }

/*# sourceMappingURL=style.css.map */