/* ==========================================================================
   #RESET
   ========================================================================== */
/**
 * A very simple reset that sits on top of Normalize.css.
 */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0; }

/**
 * Remove trailing margins from nested lists.
 */
li > ol,
li > ul {
  margin-bottom: 0; }

/**
 * Remove default table spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
fieldset {
  min-width: 0;
  /* [1] */
  border: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

a {
  color: #1e39d2;
  text-decoration: none; }

a:hover {
  color: #112179;
  text-decoration: underline; }

@font-face {
  font-family: "SharpSans";
  font-style: normal;
  font-weight: 100;
  src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Medium-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Medium-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Medium-0000000000000000000000000000000000000001.woff) format("woff"); }

@font-face {
  font-family: "SharpSans";
  font-style: italic;
  font-weight: 100;
  src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-MediumItalic-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-MediumItalic-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-MediumItalic-0000000000000000000000000000000000000001.woff) format("woff"); }

@font-face {
  font-family: "SharpSans";
  font-style: normal;
  font-weight: normal;
  src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Medium-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Medium-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Medium-0000000000000000000000000000000000000001.woff) format("woff"); }

@font-face {
  font-family: "SharpSans";
  font-style: italic;
  font-weight: normal;
  src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-MediumItalic-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-MediumItalic-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-MediumItalic-0000000000000000000000000000000000000001.woff) format("woff"); }

@font-face {
  font-family: "SharpSans";
  font-style: normal;
  font-weight: bold;
  src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Bold-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Bold-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Bold-0000000000000000000000000000000000000001.woff) format("woff"); }

@font-face {
  font-family: "SharpSans";
  font-style: italic;
  font-weight: bold;
  src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-BoldItalic-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-BoldItalic-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-BoldItalic-0000000000000000000000000000000000000001.woff) format("woff"); }

@font-face {
  font-family: "SharpSans";
  font-style: normal;
  font-weight: 700;
  src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Bold-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Bold-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Bold-0000000000000000000000000000000000000001.woff) format("woff"); }

@font-face {
  font-family: "SharpSans";
  font-style: italic;
  font-weight: 700;
  src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-BoldItalic-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-BoldItalic-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-BoldItalic-0000000000000000000000000000000000000001.woff) format("woff"); }

h1, h2, h3, h4, h5 {
  margin: 1.414rem 0 0.75rem;
  font-family: "SharpSans", Helvetica, Arial, sans-serif;
  line-height: 1.2;
  color: #444; }

h1 {
  font-size: 2.48832em; }

h2 {
  font-size: 2.0736em; }

h3 {
  font-size: 1.728em; }

h4 {
  font-size: 1.44em; }

h5 {
  font-size: 1.2em; }

p {
  margin: 1.414rem 0 0.5rem;
  font-size: 1em; }
  p.legal {
    margin: 1.414rem 0 0.5rem;
    font-size: 0.83333em; }

hr {
  height: 0;
  margin-bottom: 24px;
  border: 0;
  border-bottom: 1px solid #d7d7d7; }

body {
  color: #444;
  font-family: "SharpSans", Helvetica, Arial, sans-serif;
  line-height: 1.45; }

ul.lined li {
  list-style: none; }

ul.lined li:before {
  content: "- "; }

ul.dotted li {
  list-style: disc; }

.btn {
  display: inline-block;
  margin-bottom: 24px;
  padding: 8px 24px;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-family: "SharpSans", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.15s ease-in-out; }
  .btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-decoration: none; }
  .btn:active {
    box-shadow: none; }
  .btn a {
    text-decoration: none; }

.btn--primary, .btn--primary-inactive,
a.btn--primary-inactive,
input[type='submit'].btn--primary-inactive, .btn--primary-wide,
a.btn--primary-wide,
input[type='submit'].btn--primary-wide,
a.btn--primary,
a.btn--primary-inactive,
a.btn--primary-wide,
input[type='submit'].btn--primary,
input[type='submit'].btn--primary-inactive,
input[type='submit'].btn--primary-wide {
  border: 2px solid transparent;
  background: #1e39d2;
  color: #fff; }
  .btn--primary:hover, .btn--primary-inactive:hover,
  input[type='submit'].btn--primary-inactive:hover, .btn--primary-wide:hover,
  input[type='submit'].btn--primary-wide:hover,
  a.btn--primary:hover,
  a.btn--primary-inactive:hover,
  a.btn--primary-wide:hover,
  input[type='submit'].btn--primary:hover,
  input[type='submit'].btn--primary-inactive:hover,
  input[type='submit'].btn--primary-wide:hover {
    background: #14278f; }

.btn--primary-inactive,
a.btn--primary-inactive,
input[type='submit'].btn--primary-inactive {
  opacity: 0.6;
  pointer-events: none; }

.btn--secondary, .btn--secondary-wide,
a.btn--secondary-wide,
input[type='submit'].btn--secondary-wide,
a.btn--secondary,
a.btn--secondary-wide,
input[type='submit'].btn--secondary,
input[type='submit'].btn--secondary-wide {
  border: 2px solid #1e39d2;
  background: #fff;
  color: #1e39d2; }

.btn--primary-wide,
a.btn--primary-wide,
input[type='submit'].btn--primary-wide {
  display: block;
  width: 100%;
  text-align: center; }

.btn--secondary-wide,
a.btn--secondary-wide,
input[type='submit'].btn--secondary-wide {
  display: block;
  width: 100%;
  text-align: center; }

section {
  padding: 24px; }
  section:after {
    content: "" !important;
    display: block !important;
    clear: both !important; }

.is-centered {
  text-align: center; }

.is-inactive {
  pointer-events: none;
  opacity: 0.6; }

.is-hidden {
  display: none; }

.has-border {
  border: 1px solid #d7d7d7; }

@media (max-width: 599px) {
  .hide-at-mobile {
    display: none !important; } }

.hide-at-desktop {
  display: none; }

@media (max-width: 599px) {
  .show-at-mobile {
    display: block; } }

@media (max-width: 599px) {
  .center-at-mobile {
    text-align: center; } }

@media (max-width: 599px) {
  .twoup-at-mobile {
    width: 50% !important; } }

.img--left {
  float: left; }

.img--right {
  float: right; }

.img--fill {
  width: 100%;
  object-fit: cover; }

.float-left {
  float: left; }
  .float-left:after {
    content: "" !important;
    display: block !important;
    clear: both !important; }

.float-right {
  float: right; }
  .float-right:after {
    content: "" !important;
    display: block !important;
    clear: both !important; }

.clearfix:after {
  content: "" !important;
  display: block !important;
  clear: both !important; }

.lighter {
  font-weight: lighter; }

.upcase {
  text-transform: uppercase;
  letter-spacing: 0.08rem; }

.ruled {
  position: relative;
  z-index: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  padding: 16px 0; }
  .ruled::after {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    z-index: -1;
    min-width: 20%;
    height: 100%;
    background: #fff; }
  .ruled::before {
    border-top: 2px solid #dfdfdf;
    content: "";
    margin: 0 auto;
    /* this centers the line to the full width specified */
    position: absolute;
    /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1; }

.userform {
  font-family: "SharpSans", Helvetica, Arial, sans-serif; }

.userform .btn {
  font-size: 0.8rem; }

label {
  display: block;
  font-size: 0.8rem; }

input:not([type='submit']),
textarea {
  display: block;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #fff;
  border-bottom: 1px solid #d7d7d7;
  width: 100%;
  background: #efefef;
  font-size: 1em;
  font-family: "SharpSans", Helvetica, Arial, sans-serif;
  transition: all 0.15s ease-in-out; }
  input:not([type='submit'])::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #888; }
  input:not([type='submit']):-moz-placeholder, textarea:-moz-placeholder {
    color: #888; }
  input:not([type='submit'])::-moz-placeholder, textarea::-moz-placeholder {
    color: #888; }
  input:not([type='submit']):-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #888; }

input:not([type='submit']):focus,
textarea:focus {
  outline: none;
  background: #fff;
  border: 1px solid #d7d7d7;
  border-bottom: 1px solid #1e39d2; }

.userform--withErrors input:not([type='submit']),
.userform--withErrors textarea {
  border: 1px solid #F95E5B;
  background: #fff; }

.userform--isDisabled * {
  opacity: 0.5;
  pointer-events: none;
  user-select: none; }

.userform--inline {
  display: flex;
  flex-wrap: no-wrap;
  margin-bottom: 8px;
  padding: 0; }
  @media (max-width: 599px) {
    .userform--inline {
      flex-wrap: wrap; } }
  .userform--inline input:not([type='submit']),
  .userform--inline textarea {
    margin: 0 12px 0 0;
    padding: 8px; }
    .userform--inline input:not([type='submit']):last-of-type,
    .userform--inline textarea:last-of-type {
      margin-right: 0; }
    @media (max-width: 599px) {
      .userform--inline input:not([type='submit']),
      .userform--inline textarea {
        width: 100%;
        margin: 0 0 12px 0; }
        .userform--inline input:not([type='submit']):last-of-type,
        .userform--inline textarea:last-of-type {
          margin-bottom: 0; } }
    @media (min-width: 600px) {
      .userform--inline input:not([type='submit']),
      .userform--inline textarea {
        width: 75%; } }
    @media (min-width: 900px) {
      .userform--inline input:not([type='submit']),
      .userform--inline textarea {
        width: 75%; } }
  .userform--inline input[type='submit'] {
    margin: 0 0 0 0;
    padding: 8px; }
    .userform--inline input[type='submit']:last-of-type {
      margin-right: 0; }
    @media (max-width: 599px) {
      .userform--inline input[type='submit'] {
        width: 100%;
        margin: 0 0 0 0; }
        .userform--inline input[type='submit']:last-of-type {
          margin-bottom: 0; } }
    @media (min-width: 600px) {
      .userform--inline input[type='submit'] {
        width: 25%; } }
    @media (min-width: 900px) {
      .userform--inline input[type='submit'] {
        width: 25%; } }

.message {
  border-radius: 4px;
  padding: 12px; }

.message p {
  margin: 0;
  font-size: 0.83333em; }

.message--success {
  color: #23b268;
  border: 1px solid #23b268; }

.message--warn {
  color: #FF9F1C;
  border: 1px solid #FF9F1C; }

.message--error {
  color: #F95E5B;
  border: 1px solid #F95E5B; }

.message--announce {
  color: #1e39d2;
  border: 1px solid #1e39d2; }

.message--success-filled {
  background-color: #23b268;
  color: #fff; }

.message--warn-filled {
  background-color: #FF9F1C;
  color: #fff; }

.message--error-filled {
  background-color: #F95E5B;
  color: #fff; }

.message--announce-filled {
  background-color: #1e39d2;
  color: #fff; }

.message--banner {
  text-align: center;
  background: #fa3c00;
  color: #ffd4c7;
  border-radius: 0; }
  .message--banner a {
    color: #fff; }

.nav--inline {
  display: flex;
  height: 80px;
  border-bottom: 1px solid #d7d7d7; }

.nav--inline__menu {
  width: 25%; }

.nav--inline__logo {
  width: 50%;
  text-align: center;
  background: url("https://d2ffutrenqvap3.cloudfront.net/items/1F2p1r20072k2G0c3J0B/ci_logo.png") center center no-repeat;
  background-size: 140px 50px; }

.nav--inline__ttarp {
  width: 25%;
  padding: 0 28px; }

.nav--inline__ttarp .copy {
  float: left;
  width: 70%;
  margin-top: 21px;
  margin-left: 21px; }

.nav--inline__ttarp .avatar {
  border-radius: 100px;
  width: 3.5rem;
  height: 3.5rem;
  margin-top: 10px;
  border: 2px solid #23b268; }

.nav--inline__ttarp h4, h5 {
  margin: 0; }

.nav--inline__ttarp h4 {
  font-size: 1em;
  margin-bottom: 4px; }

.nav--inline__ttarp h5 {
  font-size: 60%; }

.nav--inline__menu {
  padding: 0 28px; }

.nav--inline__menu dl.menu {
  width: 2rem;
  text-align: center;
  margin-top: 16px; }
  .nav--inline__menu dl.menu dt {
    font-size: 2.0736em;
    line-height: 1; }
  .nav--inline__menu dl.menu dd {
    font-size: 0.5787em;
    text-transform: uppercase; }

.linklist--inline {
  display: flex;
  list-style: none;
  margin: 0; }

.linklist--inline__item {
  width: 16.66667%;
  font-size: 0.83333em;
  text-align: center;
  padding: 8px 0;
  transition: all 0.20s ease-in-out;
  border-bottom: 3px solid transparent; }

.linklist--inline__item:hover,
.linklist--inline__item--current {
  color: #fa3c00;
  border-bottom: 3px solid red;
  cursor: pointer; }

.hero {
  display: block;
  display: flex;
  flex-wrap: no-wrap;
  margin-bottom: 8px;
  padding: 0;
  overflow: hidden; }
  @media (max-width: 599px) {
    .hero {
      flex-wrap: wrap; } }

.hero--15vw {
  height: 15vw; }

.hero--25vw {
  height: 25vw; }

.hero--35vw {
  height: 25vw; }

.card-deck {
  display: flex;
  flex-wrap: no-wrap;
  margin-bottom: 8px;
  padding: 0; }
  @media (max-width: 599px) {
    .card-deck {
      flex-wrap: wrap; } }

.card {
  margin: 0 12px 0 0;
  padding: 16px;
  border: 1px solid #efefef;
  overflow: hidden; }
  .card:last-of-type {
    margin-right: 0; }
  @media (max-width: 599px) {
    .card {
      width: 100%;
      margin: 0 0 12px 0; }
      .card:last-of-type {
        margin-bottom: 0; } }
  @media (min-width: 600px) {
    .card {
      width: 25%; } }
  @media (min-width: 900px) {
    .card {
      width: 25%; } }

.card img {
  display: block;
  width: 100%;
  object-fit: cover; }

.card h1 {
  font-size: 1.2em;
  margin: 0 0 4px; }

.card h2 {
  font-size: 1em;
  font-weight: 400;
  margin: 0 0 8px; }

.card p {
  font-size: 0.83333em; }

.navigation {
  border-bottom: 1px solid #d7d7d7;
  display: flex;
  flex-direction: row;
  height: 100px; }

.navigation__logo {
  background: url("https://d2ffutrenqvap3.cloudfront.net/items/1F2p1r20072k2G0c3J0B/ci_logo.png") no-repeat 16px;
  background-size: 160px 60px;
  width: 50%; }

.navigation__ttarp {
  width: 20.83333%; }

.navigation__chat {
  width: 20.83333%; }

.navigation__ttarp,
.navigation__chat {
  white-space: nowrap;
  overflow: hidden;
  padding-top: 16px;
  margin-right: 24px; }
  .navigation__ttarp h3,
  .navigation__chat h3 {
    font-size: 1em;
    font-weight: lighter;
    line-height: 1.45;
    margin: 0;
    color: #fa3c00; }
  .navigation__ttarp h5,
  .navigation__chat h5 {
    font-size: 0.69444em;
    font-weight: lighter;
    margin: 4px 0 0; }

.navigation__ttarp__icon,
.navigation__chat__icon {
  float: left;
  margin: 12px 12px 0 0; }

.mobile-nav {
  font-size: 1.44em;
  padding: 16px; }

.linklist {
  display: flex;
  flex-wrap: no-wrap;
  margin-bottom: 8px;
  padding: 0;
  border-bottom: 1px solid #d7d7d7;
  margin: 0; }
  @media (max-width: 599px) {
    .linklist {
      flex-wrap: wrap; } }

.linklist__item {
  list-style: none;
  margin: 0 0 0 0;
  padding: 12px;
  text-align: center; }
  .linklist__item:last-of-type {
    margin-right: 0; }
  @media (max-width: 599px) {
    .linklist__item {
      width: 100%;
      margin: 0 0 0 0; }
      .linklist__item:last-of-type {
        margin-bottom: 0; } }
  @media (min-width: 600px) {
    .linklist__item {
      width: 16.66667%; } }
  @media (min-width: 900px) {
    .linklist__item {
      width: 16.66667%; } }

.hero {
  display: flex;
  position: relative;
  margin: 0 auto 0;
  background-color: #444;
  background-size: cover;
  overflow: hidden; }
  @media (min-width: 600px) {
    .hero {
      height: 480px; } }
  @media (max-width: 599px) {
    .hero {
      height: 320px;
      background-position: 50% 0; } }

.hero__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgba(17, 17, 17, 0), #111111);
  width: 100%;
  padding: 24px 24px 48px; }

.hero__caption h2,
.hero__caption p {
  margin: 0;
  color: #fff; }

.hero__caption p {
  line-height: 1.67; }

.hero__pagination {
  position: absolute;
  left: 48vw;
  bottom: 24px; }

.hero__pagination li {
  position: relative;
  list-style: none;
  float: left;
  border-radius: 100px;
  height: .6rem;
  width: .6rem;
  background: #fff;
  margin-right: 8px; }

.hero__pagination li.active:after {
  content: "";
  width: .4rem;
  height: .4rem;
  background: #fa3c00;
  border-radius: 100px;
  position: absolute;
  top: .1rem;
  left: .1rem; }

.hero__pagination li:last-of-type {
  margin-right: 0; }

.intro {
  padding: 0 0 48px; }

.shipping {
  display: flex;
  flex-wrap: no-wrap;
  margin-bottom: 8px;
  padding: 0;
  padding: 24px 0; }
  @media (max-width: 599px) {
    .shipping {
      flex-wrap: wrap; } }

.shipping__item {
  margin: 0 0 0 0;
  padding: 0;
  padding: 24px 12px; }
  .shipping__item:last-of-type {
    margin-right: 0; }
  @media (max-width: 599px) {
    .shipping__item {
      width: 100%;
      margin: 0 0 0 0; }
      .shipping__item:last-of-type {
        margin-bottom: 0; } }
  @media (min-width: 600px) {
    .shipping__item {
      width: 25%; } }
  @media (min-width: 900px) {
    .shipping__item {
      width: 25%; } }
  @media (max-width: 599px) {
    .shipping__item {
      padding: 12px; } }

.shipping__item:first-of-type {
  background: url("https://d2ffutrenqvap3.cloudfront.net/items/3R0X0H462m0f3p3W2I2S/Screen%20Shot%202018-02-05%20at%2010.46.36%20AM.png") center center no-repeat; }

.shipping__item h4 {
  color: #fa3c00;
  font-size: 1em;
  margin: 0; }

.shipping__item dl dt {
  font-size: 1.2em; }

.shipping__item dl dd {
  font-size: 0.83333em; }

.callouts {
  display: flex;
  flex-wrap: no-wrap;
  margin-bottom: 8px;
  padding: 0;
  margin: 0 auto 24px auto;
  width: 80vw; }
  @media (max-width: 599px) {
    .callouts {
      flex-wrap: wrap; } }

.callouts__item {
  background: #444;
  cursor: pointer;
  position: relative;
  transition: all 0.20s ease-in-out; }

.callouts__item:hover img {
  opacity: 0.8; }

.callouts__item:hover .callouts__item__caption {
  background: #fa3c00;
  color: #fff; }

.callouts__item__caption {
  background: #fff;
  bottom: 0;
  color: #444;
  font-size: 0.83333em;
  height: auto;
  left: 0;
  padding: 24px;
  position: absolute;
  transition: all 0.20s ease-in-out;
  width: 100%; }

.callouts__item img {
  height: 100%;
  transition: all 0.20s ease-in-out;
  width: 100%; }

.callouts__item--thirds {
  margin: 0 24px 0 0;
  padding: 0; }
  .callouts__item--thirds:last-of-type {
    margin-right: 0; }
  @media (max-width: 599px) {
    .callouts__item--thirds {
      width: 100%;
      margin: 0 0 24px 0; }
      .callouts__item--thirds:last-of-type {
        margin-bottom: 0; } }
  @media (min-width: 600px) {
    .callouts__item--thirds {
      width: 33.33333%; } }
  @media (min-width: 900px) {
    .callouts__item--thirds {
      width: 33.33333%; } }

.callouts__item--twothirds {
  margin: 0 24px 0 0;
  padding: 0; }
  .callouts__item--twothirds:last-of-type {
    margin-right: 0; }
  @media (max-width: 599px) {
    .callouts__item--twothirds {
      width: 100%;
      margin: 0 0 24px 0; }
      .callouts__item--twothirds:last-of-type {
        margin-bottom: 0; } }
  @media (min-width: 600px) {
    .callouts__item--twothirds {
      width: 68.33333%; } }
  @media (min-width: 900px) {
    .callouts__item--twothirds {
      width: 68.33333%; } }

.categories {
  display: flex;
  flex-wrap: no-wrap;
  margin-bottom: 8px;
  padding: 0;
  margin: 28px auto;
  width: 70vw; }
  @media (max-width: 599px) {
    .categories {
      flex-wrap: wrap; } }

.categories__list {
  margin: 0 0 0 0;
  padding: 24px;
  list-style: none; }
  .categories__list:last-of-type {
    margin-right: 0; }
  @media (max-width: 599px) {
    .categories__list {
      width: 100%;
      margin: 0 0 0 0; }
      .categories__list:last-of-type {
        margin-bottom: 0; } }
  @media (min-width: 600px) {
    .categories__list {
      width: 25%; } }
  @media (min-width: 900px) {
    .categories__list {
      width: 25%; } }

.brands {
  display: flex;
  flex-wrap: no-wrap;
  margin-bottom: 8px;
  padding: 0;
  margin: 28px auto;
  width: 70vw; }
  @media (max-width: 599px) {
    .brands {
      flex-wrap: wrap; } }

.brands__item {
  margin: 0 12px 0 0;
  padding: 12px;
  background: #d7d7d7;
  text-align: center; }
  .brands__item:last-of-type {
    margin-right: 0; }
  @media (max-width: 599px) {
    .brands__item {
      width: 100%;
      margin: 0 0 12px 0; }
      .brands__item:last-of-type {
        margin-bottom: 0; } }
  @media (min-width: 600px) {
    .brands__item {
      width: 10.83333%; } }
  @media (min-width: 900px) {
    .brands__item {
      width: 10.83333%; } }

.help {
  background: #d7d7d7;
  margin: 0; }

.help__cards {
  display: flex;
  flex-wrap: no-wrap;
  margin-bottom: 8px;
  padding: 0;
  padding: 28px; }
  @media (max-width: 599px) {
    .help__cards {
      flex-wrap: wrap; } }

.help__card {
  margin: 0 24px 0 0;
  padding: 24px;
  background: #fff;
  border-bottom: 1px solid #939393;
  text-align: center; }
  .help__card:last-of-type {
    margin-right: 0; }
  @media (max-width: 599px) {
    .help__card {
      width: 100%;
      margin: 0 0 24px 0; }
      .help__card:last-of-type {
        margin-bottom: 0; } }
  @media (min-width: 600px) {
    .help__card {
      width: 33.33333%; } }
  @media (min-width: 900px) {
    .help__card {
      width: 33.33333%; } }

.help__card__image {
  background: #efefef;
  height: 190px;
  margin: 24px 0; }

.help__card p {
  text-align: left; }

.swatch {
  display: inline-block;
  text-align: center;
  margin: 0 16px 16px 0;
  width: 183px;
  float: left;
  font-family: monospace; }

.swatch dt {
  min-height: 100px;
  padding-top: 25%;
  margin-bottom: 8px;
  border-radius: 6px; }

.swatch dd {
  padding: 4px 0;
  color: #999;
  border: 1px solid #d7d7d7;
  border-radius: 6px; }

.swatch--red dt {
  background: #fa3c00; }

.swatch--yellow dt {
  background: #ffdc1e; }

.swatch--blue dt {
  background: #1e39d2; }

.swatch--teal dt {
  background: #5ccfc2; }

.swatch--purple dt {
  background: #a639b2; }

.swatch--gray dt {
  background: #939393; }

.swatch--warn dt {
  background: #FF9F1C; }

.swatch--success dt {
  background: #23b268; }

.swatch--error dt {
  background: #F95E5B; }

.columns {
  display: flex; }

.left-column {
  width: 25%;
  padding: 16px;
  margin-right: 0;
  border-radius: 4px; }

.right-column {
  width: 75%;
  padding: 16px;
  margin-left: -16px;
  border-radius: 4px; }

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 16px; }

section.example {
  background: #fff;
  margin-bottom: 24px;
  border-radius: 4px; }

.left-column h5 {
  font-size: 0.83333em;
  margin: 0;
  padding: 12px;
  color: #3668d2 !important;
  text-transform: uppercase;
  letter-spacing: 0.09rem;
  font-weight: 400;
  background: rgba(255, 255, 255, 0.4); }

.left-column ul {
  list-style: none;
  margin-bottom: 12px; }

.left-column ul li {
  border-bottom: 0;
  padding: 12px;
  font-size: 0.73rem;
  background: #fff;
  border-bottom: 1px solid #d7d7d7;
  position: relative; }
  .left-column ul li:after {
    content: "\005e";
    position: absolute;
    right: 12px;
    top: 12px;
    transform: rotate(90deg);
    color: #999; }

.left-column ul li ul {
  margin: 8px 0 0 8px; }

.left-column ul li ul li {
  border: 0;
  padding: 4px 0;
  color: #999; }
  .left-column ul li ul li:after {
    content: ""; }

body.grid,
body.examples {
  background: #efefef; }
  body.grid h1.example, body.grid h2.example, body.grid h3.example, body.grid h4.example, body.grid h5.example,
  body.examples h1.example,
  body.examples h2.example,
  body.examples h3.example,
  body.examples h4.example,
  body.examples h5.example {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
    font-weight: 300;
    color: #444; }

.root {
  display: flex;
  flex-wrap: no-wrap;
  margin-bottom: 8px;
  padding: 0; }
  @media (max-width: 599px) {
    .root {
      flex-wrap: wrap; } }

.root--col {
  background: #fff;
  text-align: center;
  border: 1px solid #efefef; }
  .root--col p {
    margin: 0; }

.root--col-fifth {
  margin: 0 16px 0 0;
  padding: 8px; }
  .root--col-fifth:last-of-type {
    margin-right: 0; }
  @media (max-width: 599px) {
    .root--col-fifth {
      width: 100%;
      margin: 0 0 16px 0; }
      .root--col-fifth:last-of-type {
        margin-bottom: 0; } }
  @media (min-width: 600px) {
    .root--col-fifth {
      width: 25%; } }
  @media (min-width: 900px) {
    .root--col-fifth {
      width: 25%; } }

.root--col-quarter {
  margin: 0 16px 0 0;
  padding: 8px; }
  .root--col-quarter:last-of-type {
    margin-right: 0; }
  @media (max-width: 599px) {
    .root--col-quarter {
      width: 100%;
      margin: 0 0 16px 0; }
      .root--col-quarter:last-of-type {
        margin-bottom: 0; } }
  @media (min-width: 600px) {
    .root--col-quarter {
      width: 25%; } }
  @media (min-width: 900px) {
    .root--col-quarter {
      width: 25%; } }

.root--col-threequarter {
  margin: 0 16px 0 0;
  padding: 8px; }
  .root--col-threequarter:last-of-type {
    margin-right: 0; }
  @media (max-width: 599px) {
    .root--col-threequarter {
      width: 100%;
      margin: 0 0 16px 0; }
      .root--col-threequarter:last-of-type {
        margin-bottom: 0; } }
  @media (min-width: 600px) {
    .root--col-threequarter {
      width: 75%; } }
  @media (min-width: 900px) {
    .root--col-threequarter {
      width: 75%; } }

.root--col-third {
  margin: 0 16px 0 0;
  padding: 8px; }
  .root--col-third:last-of-type {
    margin-right: 0; }
  @media (max-width: 599px) {
    .root--col-third {
      width: 100%;
      margin: 0 0 16px 0; }
      .root--col-third:last-of-type {
        margin-bottom: 0; } }
  @media (min-width: 600px) {
    .root--col-third {
      width: 33.33333%; } }
  @media (min-width: 900px) {
    .root--col-third {
      width: 33.33333%; } }

.root--col-half {
  margin: 0 16px 0 0;
  padding: 8px; }
  .root--col-half:last-of-type {
    margin-right: 0; }
  @media (max-width: 599px) {
    .root--col-half {
      width: 100%;
      margin: 0 0 16px 0; }
      .root--col-half:last-of-type {
        margin-bottom: 0; } }
  @media (min-width: 600px) {
    .root--col-half {
      width: 50%; } }
  @media (min-width: 900px) {
    .root--col-half {
      width: 50%; } }

.root--col-full {
  margin: 0 16px 0 0;
  padding: 8px; }
  .root--col-full:last-of-type {
    margin-right: 0; }
  @media (max-width: 599px) {
    .root--col-full {
      width: 100%;
      margin: 0 0 16px 0; }
      .root--col-full:last-of-type {
        margin-bottom: 0; } }
  @media (min-width: 600px) {
    .root--col-full {
      width: 100%; } }
  @media (min-width: 900px) {
    .root--col-full {
      width: 100%; } }

.example-grid {
  border-radius: 6px;
  text-align: center; }

.example-grid .col {
  background: #fff;
  border-radius: 4px; }

header {
  background: #3668d2;
  display: flex;
  flex-wrap: no-wrap;
  margin-bottom: 8px;
  padding: 0;
  padding: 16px; }
  @media (max-width: 599px) {
    header {
      flex-wrap: wrap; } }

header .logo {
  margin: 0 16px 0 0;
  padding: 0;
  color: #dde5f7; }
  header .logo:last-of-type {
    margin-right: 0; }
  @media (max-width: 599px) {
    header .logo {
      width: 100%;
      margin: 0 0 16px 0; }
      header .logo:last-of-type {
        margin-bottom: 0; } }
  @media (min-width: 600px) {
    header .logo {
      width: 33.33333%; } }
  @media (min-width: 900px) {
    header .logo {
      width: 33.33333%; } }

header .logo h3, h5 {
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu; }

header .logo h3 {
  font-size: 1.44em;
  margin-bottom: 4px; }

header .logo h5 {
  font-size: 1em;
  font-weight: 300; }

footer {
  background: #3668d2;
  color: #dde5f7;
  padding: 24px;
  font-size: 0.75rem; }

.example-code {
  color: #0072ac;
  text-align: center;
  border: 1px solid #d7d7d7;
  padding: 3px 6px;
  font-family: monospace;
  border-radius: 5px; }

p.annotation {
  color: #0072ac;
  font-family: monospace;
  margin: 8px; }

table.example-type-specimen {
  width: 100%; }
  table.example-type-specimen h1, table.example-type-specimen h2, table.example-type-specimen h3, table.example-type-specimen h4, table.example-type-specimen h5, table.example-type-specimen h6 {
    margin: 0; }
  table.example-type-specimen td {
    border-bottom: 1px solid #efefef;
    padding-top: 12px; }

/*# sourceMappingURL=style.css.map */