/* ==========================================================================
   #RESET
   ========================================================================== */
/**
 * A very simple reset that sits on top of Normalize.css.
 */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
  margin: 0;
  padding: 0; }

/**
 * Remove trailing margins from nested lists.
 */
li > ol,
li > ul {
  margin-bottom: 0; }

/**
 * Remove default table spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
fieldset {
  min-width: 0;
  /* [1] */
  border: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

a {
  color: #1e39d2;
  text-decoration: none; }

a:hover {
  color: #112179;
  text-decoration: underline; }

@font-face {
  font-family: "SharpSans";
  font-style: normal;
  font-weight: 100;
  src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Medium-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Medium-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Medium-0000000000000000000000000000000000000001.woff) format("woff"); }

@font-face {
  font-family: "SharpSans";
  font-style: italic;
  font-weight: 100;
  src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-MediumItalic-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-MediumItalic-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-MediumItalic-0000000000000000000000000000000000000001.woff) format("woff"); }

@font-face {
  font-family: "SharpSans";
  font-style: normal;
  font-weight: normal;
  src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Medium-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Medium-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Medium-0000000000000000000000000000000000000001.woff) format("woff"); }

@font-face {
  font-family: "SharpSans";
  font-style: italic;
  font-weight: normal;
  src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-MediumItalic-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-MediumItalic-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-MediumItalic-0000000000000000000000000000000000000001.woff) format("woff"); }

@font-face {
  font-family: "SharpSans";
  font-style: normal;
  font-weight: bold;
  src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Bold-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Bold-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Bold-0000000000000000000000000000000000000001.woff) format("woff"); }

@font-face {
  font-family: "SharpSans";
  font-style: italic;
  font-weight: bold;
  src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-BoldItalic-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-BoldItalic-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-BoldItalic-0000000000000000000000000000000000000001.woff) format("woff"); }

@font-face {
  font-family: "SharpSans";
  font-style: normal;
  font-weight: 700;
  src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Bold-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Bold-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Bold-0000000000000000000000000000000000000001.woff) format("woff"); }

@font-face {
  font-family: "SharpSans";
  font-style: italic;
  font-weight: 700;
  src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-BoldItalic-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-BoldItalic-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-BoldItalic-0000000000000000000000000000000000000001.woff) format("woff"); }

h1, h2, h3, h4, h5, h6 {
  font-family: "SharpSans", Helvetica, Arial, sans-serif;
  margin: 1.414rem 0 0.75rem;
  line-height: 1.2; }

h1 {
  font-size: 2.48832em; }

h2 {
  font-size: 2.0736em; }

h3 {
  font-size: 1.728em; }

h4 {
  font-size: 1.44em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1em; }

p {
  font-size: 1em;
  margin: 1.414rem 0 0.5rem; }
  p.legal {
    font-size: 0.83333em;
    margin: 1.414rem 0 0.5rem; }

hr {
  margin-bottom: 24px;
  height: 0;
  border: 0;
  border-bottom: 1px solid #d7d7d7; }

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
  color: #444;
  line-height: 1.45; }

ul.lined li {
  list-style: none; }

ul.lined li:before {
  content: "- "; }

ul.dotted li {
  list-style: disc; }

.btn {
  font-size: 1rem;
  display: inline-block;
  padding: 8px 24px;
  border-radius: 4px;
  margin-bottom: 24px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  font-family: "SharpSans", Helvetica, Arial, sans-serif; }
  .btn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-decoration: none; }
  .btn:active {
    box-shadow: none; }
  .btn a {
    text-decoration: none; }

.btn--primary,
a.btn--primary,
input[type='submit'].btn--primary {
  background: #1e39d2;
  color: #fff;
  border: 2px solid transparent; }
  .btn--primary:hover,
  a.btn--primary:hover,
  input[type='submit'].btn--primary:hover {
    background: #14278f; }

.btn--secondary,
a.btn--secondary,
input[type='submit'].btn--secondary {
  background: #fff;
  color: #1e39d2;
  border: 2px solid #1e39d2; }

section {
  padding: 24px; }
  section:after {
    content: "" !important;
    display: block !important;
    clear: both !important; }

.userform {
  font-family: "SharpSans", Helvetica, Arial, sans-serif; }

.userform .btn {
  font-size: 0.8rem; }

label {
  display: block;
  font-size: 0.8rem; }

input:not([type='submit']),
textarea {
  display: block;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #fff;
  border-bottom: 1px solid #d7d7d7;
  width: 100%;
  background: #efefef;
  font-size: 1em;
  font-family: "SharpSans", Helvetica, Arial, sans-serif;
  transition: all 0.15s ease-in-out; }
  input:not([type='submit'])::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #888; }
  input:not([type='submit']):-moz-placeholder, textarea:-moz-placeholder {
    color: #888; }
  input:not([type='submit'])::-moz-placeholder, textarea::-moz-placeholder {
    color: #888; }
  input:not([type='submit']):-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #888; }

input:not([type='submit']):focus,
textarea:focus {
  outline: none;
  background: #fff;
  border: 1px solid #d7d7d7;
  border-bottom: 1px solid #1e39d2; }

.userform--withErrors input:not([type='submit']),
.userform--withErrors textarea {
  border: 1px solid #F95E5B;
  background: #fff; }

.userform--isDisabled * {
  opacity: 0.5;
  pointer-events: none;
  user-select: none; }

.message {
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 12px; }

.message p {
  margin: 0;
  font-size: 0.83333em; }

.message--success {
  color: #23b268;
  border: 1px solid #23b268; }

.message--warn {
  color: #FF9F1C;
  border: 1px solid #FF9F1C; }

.message--error {
  color: #F95E5B;
  border: 1px solid #F95E5B; }

.message--announce {
  color: #1e39d2;
  border: 1px solid #1e39d2; }

.message--success-filled {
  background-color: #23b268;
  color: #fff; }

.message--warn-filled {
  background-color: #FF9F1C;
  color: #fff; }

.message--error-filled {
  background-color: #F95E5B;
  color: #fff; }

.message--announce-filled {
  background-color: #1e39d2;
  color: #fff; }

.swatch {
  border: 1px solid #d7d7d7;
  display: inline-block;
  text-align: center;
  margin: 0 16px 16px 0;
  width: 155px;
  float: left; }

.swatch dt {
  min-height: 100px;
  padding-top: 25%; }

.swatch dd {
  padding: 8px 0;
  color: #999; }

.swatch--red dt {
  background: #fa3c00; }

.swatch--yellow dt {
  background: #ffdc1e; }

.swatch--blue dt {
  background: #1e39d2; }

.swatch--teal dt {
  background: #5ccfc2; }

.swatch--purple dt {
  background: #a639b2; }

.swatch--gray dt {
  background: #939393; }

.swatch--warn dt {
  background: #FF9F1C; }

.swatch--success dt {
  background: #23b268; }

.swatch--error dt {
  background: #F95E5B; }

.swatch ul {
  list-style: none; }

.swatch ul li {
  color: rgba(255, 255, 255, 0.7); }

.swatch ul li.var {
  color: #fff;
  font-family: monospace; }

.page {
  display: flex;
  padding: 96px 192px;
  background: #efefef; }

.filter-bar {
  flex: 1 1 0;
  background: #fff;
  margin-right: 1rem;
  border-radius: 6px; }

.filter-bar h5 {
  font-size: 0.83333em;
  margin: 0;
  padding: 8px;
  color: #5ccfc2;
  text-transform: uppercase;
  letter-spacing: 0.09rem; }

.filter-bar ul {
  list-style: none;
  margin-bottom: 12px; }

.filter-bar ul li {
  border-bottom: 0;
  padding: 8px;
  font-size: 0.73rem;
  background: #fff;
  border-bottom: 1px solid #d7d7d7;
  position: relative; }
  .filter-bar ul li:after {
    content: "\005e";
    position: absolute;
    right: 8px;
    top: 8px;
    transform: rotate(90deg);
    color: #999; }

.filter-bar ul li ul {
  margin: 8px 0 0 8px; }

.filter-bar ul li ul li {
  border: 0;
  padding: 4px 0;
  color: #999; }
  .filter-bar ul li ul li:after {
    content: ""; }

.right-column {
  flex: 4 1 0;
  padding: 0 24px;
  background: #fff;
  border-radius: 6px; }

h1.example-type-specimen, h2.example-type-specimen, h3.example-type-specimen, h4.example-type-specimen, h5.example-type-specimen, h6.example-type-specimen {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
  font-weight: 300;
  color: #444; }

header {
  background: #efefef;
  padding: 48px; }

footer {
  padding: 24px;
  font-size: 0.75rem; }

.example-code {
  color: #0072ac;
  text-align: center;
  border: 1px solid #d7d7d7;
  padding: 3px 6px;
  font-family: monospace;
  border-radius: 5px; }

p.annotation {
  color: #0072ac;
  margin: 0 0 16px;
  font-family: monospace; }

table.example-type-specimen {
  width: 100%; }
  table.example-type-specimen h1, table.example-type-specimen h2, table.example-type-specimen h3, table.example-type-specimen h4, table.example-type-specimen h5, table.example-type-specimen h6 {
    margin: 0; }

/*# sourceMappingURL=style.css.map */