.utilitybar {
  display: flex;
  flex-wrap: wrap;
  padding: $unit-xl;
  border-bottom: 1px solid $color-lt-gray;
}

.utilitybar h2 {
  width: percentage(12/12);
}

.utilitybar__filter {
  align-self: flex-start;
  width: percentage(2/12);
  background: $color-lt-gray;
  margin-right: $unit-l;
  padding: $unit-s;
}
.utilitybar__search {
  margin-left: auto;
  width: percentage(4/12);
}

.grid {
  @include grid-row;
}
.grid__filterbar {
  flex: 1 1 6rem;
  padding: $unit-xl;
}
.grid__cards {
  padding: $unit-xl;
  flex: 1 1 75%;
  display: flex;
  flex-wrap: wrap;
}
.grid__cards__card {
  border: 1px solid $color-lt-gray;
  flex: 1 1 18%;
  overflow: hidden;
  padding: $unit-l;
  margin-right: $unit-s;
  margin-bottom: $unit-s;
  transition: all 0.10s ease-out;
  background: #fff;
  text-align: center;
}
.grid__cards__card:nth-child(5n+5) {
  margin-right: 0;
}
.grid__cards__card img {
  display: block;
  width: 100%;
}
.grid__cards__card:hover {
  box-shadow: 0 10px 20px #d7d7d7;
  transform: translateY(-$unit-m);
  //transform: scale(1.05,1.05);
  border-bottom: 1px solid $color-kind-blue;
}
