// TODO: Makes the copy/pastable via JS
.swatch {
  border: 1px solid #d7d7d7;
  border-bottom: 1px solid #777;
  padding: $unit-l;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  margin: 0 $unit-l $unit-l 0;
  width: 155px;
  float: left;
}
.swatch--red {
  background: $color-red;
}
.swatch--yellow {
  background: $color-yellow;
}
.swatch--blue {
  background: $color-blue;
}
.swatch--teal {
  background: $color-teal;
}
.swatch--purple {
  background: $color-purple;
}
.swatch--gray {
  background: $color-gray;
}

.swatch--warn {
  background: $color-warn;
}
.swatch--success {
  background: $color-success;
}
.swatch--error {
  background: $color-error;
}

.swatch ul {
  list-style: none;
}
.swatch ul li {
  color: transparentize(#fff, 0.3);
}
.swatch ul li.var {
  color: #fff;
  font-family: monospace;
}
.page {
  display: flex;
  padding: $unit-xl*4 $unit-xl*8;
  background: #efefef;
}
.filter-bar {
  flex: 1 1 0;
  padding: $unit-l;
  background: #fff;
  margin-right: 1rem;
  border-radius: 6px;
}
.filter-bar h5 {
  font-size: ms(0);
  margin-top: 0;
}
.filter-bar ul {
  list-style: none;
  margin: $unit-l 0;
}
.filter-bar ul li {
  border-bottom: 0;
  padding: $unit-s;
  font-size: 0.73rem;
  background: #fff;
}
.filter-bar ul li:first-of-type {
  border-radius: 6px 6px 0 0;
}
.filter-bar ul li:last-of-type {
  border-radius: 0 0 6px 6px;
}
.right-column {
  flex: 5 1 0;
  padding: 0 $unit-xl;
  background: #fff;
  border-radius: 6px;
}

h1, h2, h3, h4, h5, h6 {
  &.example {
    font-family: $example-font;
    font-weight: 300;
  }
}

header {
  background: #efefef;
  padding: $unit-xl*2;
}
footer {
  padding: $unit-xl;
  font-size: 0.75rem;
}
