// TODO: Makes the copy/pastable via JS
.swatch {
  border: 1px solid #d7d7d7;
  display: inline-block;
  text-align: center;
  margin: 0 $unit-l $unit-l 0;
  width: 155px;
  float: left;
}
.swatch dt {
  min-height: 100px;
  padding-top: 25%;
}
.swatch dd {
  padding: $unit-s 0;
  color: #999;
}
.swatch--red dt {
  background: $color-red;
}
.swatch--yellow dt {
  background: $color-yellow;
}
.swatch--blue dt {
  background: $color-blue;
}
.swatch--teal dt {
  background: $color-teal;
}
.swatch--purple dt {
  background: $color-purple;
}
.swatch--gray dt {
  background: $color-gray;
}

.swatch--warn dt {
  background: $color-warn;
}
.swatch--success dt {
  background: $color-success;
}
.swatch--error dt {
  background: $color-error;
}

.swatch ul {
  list-style: none;
}
.swatch ul li {
  color: transparentize(#fff, 0.3);
}
.swatch ul li.var {
  color: #fff;
  font-family: monospace;
}
.page {
  display: flex;
  padding: $unit-xl*4 $unit-xl*8;
  background: #efefef;
}
.filter-bar {
  flex: 1 1 0;
  background: #fff;
  margin-right: 1rem;
  border-radius: 6px;
}
.filter-bar h5 {
  font-size: ms(-1);
  margin: 0;
  padding: $unit-s;
  color: $color-teal;
  text-transform: uppercase;
  letter-spacing: 0.09rem;
}
.filter-bar ul {
  list-style: none;
  margin-bottom: $unit-m;
}
.filter-bar ul li {
  border-bottom: 0;
  padding: $unit-s;
  font-size: 0.73rem;
  background: #fff;
  border-bottom: 1px solid #d7d7d7;
  position: relative;
  &:after {
    content: "\005e";
    position: absolute;
    right: $unit-s;
    top: $unit-s;
    transform: rotate(90deg);
    color: #999;
  }
}
.filter-bar ul li ul {
  margin: $unit-s 0 0 $unit-s;
}
.filter-bar ul li ul li {
  border: 0;
  padding: $unit-s/2 0;
  color: #999;
  &:after {
    content: "";
  }
}
.right-column {
  flex: 4 1 0;
  padding: 0 $unit-xl;
  background: #fff;
  border-radius: 6px;
}

h1, h2, h3, h4, h5, h6 {
  &.example {
    font-family: $example-font;
    font-weight: 300;
    color: #444;
  }
}

header {
  background: #efefef;
  padding: $unit-xl*2;
}
footer {
  padding: $unit-xl;
  font-size: 0.75rem;
}

.example-code {
  color: #0072ac;
  text-align: center;
  border: 1px solid #d7d7d7;
  padding: 3px 6px;
  font-family: monospace;
  border-radius: 5px;
}

// Tables

table.example-type-specimen {
  width: 100%;

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  p {
    color: #0072ac;
    margin: 0 0 $unit-l;
  }
}
