// TODO: Make this copy/pastable via JS
.swatch {
  display: inline-block;
  text-align: center;
  margin: 0 $unit-l $unit-l 0;
  width: 183px;
  float: left;
  font-family: monospace;
}
.swatch dt {
  min-height: 100px;
  padding-top: 25%;
  margin-bottom: $unit-s;
  border-radius: 6px;
}
.swatch dd {
  padding: $unit-s/2 0;
  color: #999;
  border: 1px solid #d7d7d7;
  border-radius: 6px;
}
.swatch--red dt {
  background: $color-red;
}
.swatch--yellow dt {
  background: $color-yellow;
}
.swatch--blue dt {
  background: $color-blue;
}
.swatch--teal dt {
  background: $color-teal;
}
.swatch--purple dt {
  background: $color-purple;
}
.swatch--gray dt {
  background: $color-gray;
}

.swatch--warn dt {
  background: $color-warn;
}
.swatch--success dt {
  background: $color-success;
}
.swatch--error dt {
  background: $color-error;
}

.columns {
  @include grid-row;
}
.left-column {
  @include col(3, 12, $unit-l, $unit-s);
  border-radius: $base-border-radius;
}
.right-column {
  @include col(9, 12, $unit-l, $unit-s);
  border-radius: $base-border-radius;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: $unit-l;
}
section.example {
  background: #fff;
  margin-bottom: $unit-xl;
  border-radius: $base-border-radius;
}
.left-column h5 {
  font-size: ms(-1);
  margin: 0;
  padding: $unit-m;
  color: $color-kind-blue !important;
  text-transform: uppercase;
  letter-spacing: 0.09rem;
  font-weight: 400;
}
.left-column ul {
  list-style: none;
  margin-bottom: $unit-m;
}
.left-column ul li {
  border-bottom: 0;
  padding: $unit-m;
  font-size: 0.73rem;
  background: #fff;
  border-bottom: 1px solid #d7d7d7;
  position: relative;
  &:after {
    content: "\005e";
    position: absolute;
    right: $unit-m;
    top: $unit-m;
    transform: rotate(90deg);
    color: #999;
  }
}
.left-column ul li ul {
  margin: $unit-s 0 0 $unit-s;
}
.left-column ul li ul li {
  border: 0;
  padding: $unit-s/2 0;
  color: #999;
  &:after {
    content: "";
  }
}

body.grid,
body.examples {
  background: #efefef;
  h1, h2, h3, h4, h5 {
    &.example {
      font-family: $example-font;
      font-weight: 300;
      color: #444;
    }
  }
}

// example grid

.root {
  @include grid-row;
}
.root--col {
  background: #fff;
  text-align: center;
  border: 1px solid #efefef;
  p {
    margin: 0;
  }
}
.root--col-fifth {
  @include col(3, 12, $unit-l, $unit-s);
}
.root--col-quarter {
  @include col(3, 12, $unit-l, $unit-s);
}
.root--col-threequarter {
  @include col(9, 12, $unit-l, $unit-s);
}
.root--col-third {
  @include col(4, 12, $unit-l, $unit-s);
}
.root--col-half {
  @include col(6, 12, $unit-l, $unit-s);
}
.root--col-full {
  @include col(12, 12, $unit-l, $unit-s);
}

.example-grid {
  border-radius: 6px;
  //width: 80vw;
  //margin: auto;
  text-align: center;
}
.example-grid .col {
  background: #fff;
  border-radius: 4px;
}

header {
  background: $color-kind-blue;
  @include grid-row;
  padding: $unit-l;
}
header .logo {
  @include col(4, 12, $unit-l);
  color: lighten($color-kind-blue, 40%);
}
header .logo h3, h5 {
  margin: 0;
  font-family: $example-font;
}
header .logo h3 {
  font-size: ms(2);
  margin-bottom: $unit-xs;
}
header .logo h5 {
  font-size: ms(0);
  font-weight: 300;
}
footer {
  background: $color-kind-blue;
  color: lighten($color-kind-blue, 40%);
  padding: $unit-xl;
  font-size: 0.75rem;
}

.example-code {
  color: #0072ac;
  text-align: center;
  border: 1px solid #d7d7d7;
  padding: 3px 6px;
  font-family: monospace;
  border-radius: 5px;
}
p.annotation {
  color: #0072ac;
  font-family: monospace;
  margin: 0 0 $unit-m;
}

// Tables

table.example-type-specimen {
  width: 100%;

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  td {
    border-bottom: 1px solid #efefef;
    padding-top: $unit-m;
  }
}
