// Buttons
//======================================
// Base button class

.btn {
  display: inline-block;
  margin-bottom: $unit-xl;
  padding: $unit-m $unit-xl;
  border-radius: 4px;
  box-shadow: 0 2px 6px transparentize(#000, 0.7);
  font-family: $body-font;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  &:hover {
    box-shadow: 0 4px 8px transparentize(#000, 0.7);
    text-decoration: none;
  }
  &:active {
    box-shadow: none;
  }

  a {
    text-decoration: none;
  }
}

// button modifiers
.btn--primary,
a.btn--primary,
input[type='submit'].btn--primary {
  border: 2px solid transparent;
  background: $color-action;
  color: #fff;
  &:hover {
    background: darken($color-blue, 15%);
  }
}

.btn--primary-inactive,
a.btn--primary-inactive,
input[type='submit'].btn--primary-inactive {
  @extend .btn--primary;
  opacity: 0.6;
  pointer-events: none;
}

.btn--secondary,
a.btn--secondary,
input[type='submit'].btn--secondary {
  border: 2px solid $color-action;
  background: #fff;
  color: $color-action;
  &:hover {
    //background: #efefef;
  }
}

// wide buttons

.btn--primary-wide,
a.btn--primary-wide,
input[type='submit'].btn--primary-wide {
  @extend .btn--primary;
  display: block;
  width: 100%;
  text-align: center;
}

.btn--secondary-wide,
a.btn--secondary-wide,
input[type='submit'].btn--secondary-wide {
  @extend .btn--secondary;
  display: block;
  width: 100%;
  text-align: center;
}

.btn--block {
  width: 60%;
  margin: $unit-xl auto;
  display: block;
}
