// Buttons
//======================================
// Base button class

.btn {
  font-size: 1rem;
  display: inline-block;
  padding: $unit-m $unit-xl;
  border-radius: 4px;
  margin-bottom: $unit-xl;
  box-shadow: 0 2px 6px transparentize(#000, 0.7);
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  font-family: $body-font;
  &:hover {
    box-shadow: 0 4px 8px transparentize(#000, 0.7);
    text-decoration: none;
  }
  &:active {
    box-shadow: none;
  }

  a {
    text-decoration: none;
  }
}

// button modifiers
.btn--primary,
a.btn--primary,
input[type='submit'].btn--primary {
  background: $color-blue;
  color: lighten($color-blue, 40%);
  border: 2px solid transparent;
}

.btn--secondary,
a.btn--secondary,
input[type='submit'].btn--secondary {
  background: #fff;
  color: #444;
  border: 2px solid #d7d7d7;
}
