// Colors
// =======================================

$color-red:    #fa3c00;
$color-yellow: #ffdc1e;
$color-blue:   #1e39d2;
$color-teal:   #5ccfc2;
$color-purple: #a639b2;
$color-gray:   #939393;
$color-green:  #23b268;
