// Colors
// =======================================

$color-red:     #fa3c00;
$color-yellow:  #F3B700;
$color-blue:    #3626A7;
$color-teal:    #9AD2CB;
$color-purple:  #a639b2;
$color-gray:    #939393;

$color-warn:    #FF9F1C;
$color-success: #23b268;
$color-error:   #710000;

$color-action: $color-blue;
