section {
  border-bottom: 1px solid $color-gray;
  padding: $unit-xl;
  @include tentacles-clearfix;
}

header, footer {
  padding: $unit-xl;
}
header {
  background: $color-red;
}
footer {
  background: $color-gray;
}
