// Configuration
// =======================================

html {
  box-sizing: border-box;
}

* {

  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }

}

a {
  color: $color-action;
  text-decoration: none;
}

a:hover {
  color: darken($color-action, 20%);
  text-decoration: underline;
}

$modularscale: (
  base: 1em,
  ratio: $minor-third
);

$unit-xs:   4px;
$unit-s:    8px;
$unit-m:    12px;
$unit-l:    16px;
$unit-xl:   24px;
$unit-xxl:  28px;
$unit-xxxl: 32px;

$base-animation-timing: 0.20s;
$base-border-radius: 4px;
$base-font-size: 1rem/16px;
$font-size-0: ms(0);
$font-size-1: ms(1);
$font-size-2: ms(2);
$font-size-3: ms(3);
$font-size-4: ms(4);
$font-size-5: ms(5);
$font-size-6: ms(6);
