section {
  padding: $unit-xl;
  @include cr-clearfix;
}

// Grid
// Grid base wrapper
// 1/4 | 1/2 | 1/3 | 1/5 | 4/4
.grid--wrapper {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  @include for-phone-only {
    .col__quarter { border: 1px solid red;}
    .col__half { border: 1px solid red;}
    .col__third { border: 1px solid red;}
    .col__fifth { border: 1px solid red;}
    .col__full { border: 1px solid red;}
  }
  @include for-tablet-portrait-up {
    .col__quarter { border: 1px solid blue;}
    .col__half { border: 1px solid blue;}
    .col__third { border: 1px solid blue;}
    .col__fifth { border: 1px solid blue;}
    .col__full { border: 1px solid blue;}
  }
  @include for-tablet-landscape-up {
    .col__quarter { border: 1px solid green;}
    .col__half { border: 1px solid green;}
    .col__third { border: 1px solid green;}
    .col__fifth { border: 1px solid green;}
    .col__full { border: 1px solid green;}
  }
  @include for-desktop-up {
    .col__quarter { border: 1px solid purple;}
    .col__half { border: 1px solid purple;}
    .col__third { border: 1px solid purple;}
    .col__fifth { border: 1px solid purple;}
    .col__full { border: 1px solid purple;}
  }
  @include for-big-desktop-up {
    .col__quarter { border: 1px solid tan;}
    .col__half { border: 1px solid tan;}
    .col__third { border: 1px solid tan;}
    .col__fifth { border: 1px solid tan;}
    .col__full { border: 1px solid tan;}
  }
}

.grid--wrapper-xs {
  @extend .grid--wrapper;
  .col {
    margin: 0 $unit-xs $unit-s 0;
    &:last-of-type {
      margin-right: 0;
    }
  }
}
.grid--wrapper-s {
  @extend .grid--wrapper;
  .col {
    margin: 0 $unit-s $unit-s 0;
    &:last-of-type {
      margin-right: 0;
    }
  }
}
.grid--wrapper-m {
  @extend .grid--wrapper;
  .col {
    margin: 0 $unit-m $unit-s 0;
    &:last-of-type {
      margin-right: 0;
    }
  }
}
.grid--wrapper-l {
  @extend .grid--wrapper;
  .col {
    margin: 0 $unit-l $unit-s 0;
    &:last-of-type {
      margin-right: 0;
    }
  }
}
.col { padding: 0;}
.col__quarter {
  width: percentage(1/4);
}
.col__half {
  width: percentage(2/4);
}
.col__third {
  width: percentage(3/4);
}
.col__fifth {
  width: percentage(1/5);
}
.col__full {
  width: percentage(4/4);
}
