// =======================================
//   #CLEARFIX
// =======================================

// Mixin to drop micro clearfix into a selector. Further reading:
// http://www.cssmojo.com/the-very-latest-clearfix-reloaded/
//
// .usage {
//   @include cr-clearfix();
// }

@mixin cr-clearfix() {

  &:after {
    content: "" !important;
    display: block !important;
    clear: both !important;
  }

}

// =======================================
// Defines a parent container
// for a flexbox grid instance
// =======================================

@mixin grid-row($padding: 0) {
  display: flex;
  flex-wrap: no-wrap;
  margin-bottom: $unit-s;
  padding: $padding;
  @include for-phone-only {
    flex-wrap: wrap;
  }
}

// =======================================
// Defines a child element for a flexbox
// grid parent
// $num: the number of columns an element will span, i.e. 1 of 6
// $count: the total number of columns in the grid instance
// $gutter: space applied outside and to the right of elements
// and automatically stripped from the last element
// $align: vertical text alignment inside the element,
// `top` be default
// $padding: optional padding to be applied inside the element
// =======================================

@mixin col($num, $count, $gutter: $unit-s, $padding: 0) {
  margin: 0 $gutter 0 0;
  padding: $padding;
  &:last-of-type {
    margin-right: 0;
  }
  @include for-phone-only {
    width: percentage($count/$count);
    margin: 0 0 $gutter 0;
    &:last-of-type {
      margin-bottom: 0;
    }
  };
  @include for-tablet-landscape-up {
    width: percentage($num/$count);
  }
}

// Style placeholder text with prefixes
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}
@mixin tentacles-placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}
