// Typopgraphy
// =======================================
// Uses https://github.com/modularscale/modularscale-sass

@import './fonts';
$example-font: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
$header-font: 'SharpSans', Helvetica, Arial, sans-serif;
$body-font: 'SharpSans', Helvetica, Arial, sans-serif;

h1, h2, h3, h4, h5 {
  margin: 1.414rem 0 0.75rem;
  font-family: $header-font;
  line-height: 1.2;
  color: #444;
}

h1 {
  font-size: ms(5);
}
h2 {
  font-size: ms(4);
}
h3 {
  font-size: ms(3);
}
h4 {
  font-size: ms(2);
}
h5 {
  font-size: ms(1);
}

p {
  margin: 1.414rem 0 0.5rem;
  font-size: ms(0);


  &.legal {
    margin: 1.414rem 0 0.5rem;
    font-size: ms(-1);
  }
}

hr {
  height: 0;
  margin-bottom: $unit-xl;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
}


body {
  color: #444;
  font-family: $body-font;
  line-height: 1.45;
}

// Lists
// =======================================

ul.lined li {
  list-style: none;
}
ul.lined li:before {
  content: "- ";
}
ul.dotted li {
  list-style: disc;
}
