// Typopgraphy
// =======================================
// Uses https://github.com/modularscale/modularscale-sass

@font-face {
    font-family: "SharpSans";
    font-style: normal;
    font-weight: 100;
    src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Medium-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Medium-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Medium-0000000000000000000000000000000000000001.woff) format("woff")
}
@font-face {
    font-family: "SharpSans";
    font-style: italic;
    font-weight: 100;
    src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-MediumItalic-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-MediumItalic-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-MediumItalic-0000000000000000000000000000000000000001.woff) format("woff")
}
@font-face {
    font-family: "SharpSans";
    font-style: normal;
    font-weight: normal;
    src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Medium-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Medium-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Medium-0000000000000000000000000000000000000001.woff) format("woff")
}
@font-face {
    font-family: "SharpSans";
    font-style: italic;
    font-weight: normal;
    src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-MediumItalic-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-MediumItalic-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-MediumItalic-0000000000000000000000000000000000000001.woff) format("woff")
}
@font-face {
    font-family: "SharpSans";
    font-style: normal;
    font-weight: bold;
    src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Bold-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Bold-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Bold-0000000000000000000000000000000000000001.woff) format("woff")
}
@font-face {
    font-family: "SharpSans";
    font-style: italic;
    font-weight: bold;
    src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-BoldItalic-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-BoldItalic-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-BoldItalic-0000000000000000000000000000000000000001.woff) format("woff")
}
@font-face {
    font-family: "SharpSans";
    font-style: normal;
    font-weight: 700;
    src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Bold-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Bold-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-Bold-0000000000000000000000000000000000000001.woff) format("woff")
}
@font-face {
    font-family: "SharpSans";
    font-style: italic;
    font-weight: 700;
    src: url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-BoldItalic-0000000000000000000000000000000000000001.eot?#iefix) format("embedded-opentype"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-BoldItalic-0000000000000000000000000000000000000001.woff2) format("woff2"), url(https://www.customink.com/assets-inkpress/style_bitz/SharpSans-BoldItalic-0000000000000000000000000000000000000001.woff) format("woff")
}

$example-font: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
$header-font: 'SharpSans', Helvetica, Arial, sans-serif;
$body-font: 'SharpSans', Helvetica, Arial, sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  margin: 1.414rem 0 0.75rem;
  line-height: 1.2;
}

html {
}

h1 {
  font-size: ms(5);
}
h2 {
  font-size: ms(4);
}
h3 {
  font-size: ms(3);
}
h4 {
  font-size: ms(2);
}
h5 {
  font-size: ms(1);
}
h6 {
  font-size: ms(0);
}

p {
  font-size: ms(0);
  margin: 1.414rem 0 0.5rem;

  &.legal {
    font-size: ms(-1);
    margin: 1.414rem 0 0.5rem;
  }
}

hr {
  margin-bottom: $unit-xl;
}


body {
  font-family: $example-font;
  color: #444;
  line-height: 1.45;
}

// Lists
// =======================================

ul.lined li {
  list-style: none;
}
ul.lined li:before {
  content: "- ";
}
ul.dotted li {
  list-style: disc;
}
