// CSS Utilities
// =======================================

// States
.is-centered {
  text-align: center;
}
.is-inactive {
  pointer-events: none;
  opacity: 0.6;
}
.is-hidden {
  display: none;
}
.has-border {
  border: 1px solid $color-lt-gray;
}
.hide-at-mobile {
  @include for-phone-only {display: none !important;}
}
.hide-at-desktop {
  display: none;
}
.show-at-mobile {
  @include for-phone-only {display: block;}
}
.center-at-mobile {
  @include for-phone-only {text-align: center;}
}


// Image aligners (alpha)
.img--left {
  float: left;
}
.img--right {
  float: right;
}
.img--fill {
  width: 100%;
  object-fit: cover;
}

// Floats
.float-left {
  float: left;
  @include cr-clearfix;
}

.float-right {
  float: right;
  @include cr-clearfix;
}

.clearfix {
  @include cr-clearfix;
}

// Type
.lighter {
  font-weight: lighter;
}
.upcase {
  text-transform: uppercase;
  letter-spacing: 0.08rem;
}
