// Navigation
// =======================================

.nav--inline {
  display: flex;
  height: 80px;
  border-bottom: 1px solid $color-lt-gray;
}
.nav--inline * {
  //border: 1px solid red;
}
.nav--inline__menu {
  width: percentage(3/12);
}
.nav--inline__logo {
  width: percentage(6/12);
  text-align: center;
  background: url("https://d2ffutrenqvap3.cloudfront.net/items/1F2p1r20072k2G0c3J0B/ci_logo.png") center center no-repeat;
  background-size: 140px 50px;
}
.nav--inline__ttarp {
  width: percentage(3/12);
  padding: 0 $unit-xxl;
}
.nav--inline__ttarp .copy {
  float: left;
  width: 70%;
  margin-top: $unit-l+5;
  margin-left: $unit-l+5;
}
.nav--inline__ttarp .avatar {
  border-radius: 100px;
  width: 3.5rem;
  height: 3.5rem;
  margin-top: $unit-s+2;
  border: 2px solid $color-success;
}
.nav--inline__ttarp h4, h5 {
  margin: 0;
}
.nav--inline__ttarp h4 {
  font-size: ms(0);
  margin-bottom: $unit-xs;
}
.nav--inline__ttarp h5 {
  font-size: 60%;
}

.nav--inline__menu {
  padding: 0 $unit-xxl;
}

.nav--inline__menu dl.menu {
  width: 2rem;
  text-align: center;
  margin-top: $unit-l;
  dt {
    font-size: ms(4);
    line-height: 1;
  }
  dd {
    font-size: ms(-3);
    text-transform: uppercase;
  }
}

.linklist--inline {
  display: flex;
  list-style: none;
  margin: 0;
}
.linklist--inline__item {
  width: percentage(2/12);
  font-size: ms(-1);
  text-align: center;
  padding: $unit-s 0;
  transition: all 0.20s ease-in-out;
  border-bottom: 3px solid transparent;
}
.linklist--inline__item:hover,
.linklist--inline__item--current {
  color: $color-red;
  border-bottom: 3px solid red;
  cursor: pointer;
}
